<template>

  <!--- Подключение  --->
  <ModalWrap
      modal_id="add-connect-form"
      title="Новое подключение"
      btn_title="Сохранить"
      @make="addConnect" >
      <template v-slot:body >

        <form  class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">

            <!--begin::Row 1-->
            <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="fs-6 fw-semibold form-label mt-3">
                  <span class="required">Host</span>
                  <span class="ms-1">
                          <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                          <span class="path2"></span><span class="path3"></span></i>
                      </span>
                </label>
                <input v-model="connectForm.host" type="text" class="form-control form-control-solid" >
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
              </div></div>

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="fs-6 fw-semibold form-label mt-3">
                  <span class="required">Dbname</span>
                  <span class="ms-1">
                            <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                            <span class="path2"></span><span class="path3"></span></i>
                        </span>
                </label>
                <input v-model="connectForm.dbname" type="text" class="form-control form-control-solid" >
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
              </div></div>

            </div>
            <!--end::Row 1-->

            <!--begin::Row 2-->
            <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="fs-6 fw-semibold form-label mt-3">
                  <span class="required">User</span>
                  <span class="ms-1">
                          <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                          <span class="path2"></span><span class="path3"></span></i>
                      </span>
                </label>
                <input v-model="connectForm.user" type="text" class="form-control form-control-solid" >
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
              </div></div>

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="fs-6 fw-semibold form-label mt-3">
                  <span class="required">Password</span>
                  <span class="ms-1">
                            <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                            <span class="path2"></span><span class="path3"></span></i>
                        </span>
                </label>
                <input v-model="connectForm.password" type="text" class="form-control form-control-solid" >
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
              </div></div>

            </div>
            <!--end::Row 3-->

            <!--begin::Row 3-->
            <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="fs-6 fw-semibold form-label mt-3">
                  <span class="required">Driver</span>
                  <span class="ms-1">
                          <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                          <span class="path2"></span><span class="path3"></span></i>
                      </span>
                </label>
                <input v-model="connectForm.driver" type="text" class="form-control form-control-solid" >
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
              </div></div>

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                <label class="fs-6 fw-semibold form-label mt-3">
                  <span class="required">Port</span>
                  <span class="ms-1">
                            <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                            <span class="path2"></span><span class="path3"></span></i>
                        </span>
                </label>
                <input v-model="connectForm.port" type="text" class="form-control form-control-solid" >
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
              </div></div>

            </div>
            <!--end::Row 3-->

        </form>

      </template>
  </ModalWrap>

  <!--- База   --->
  <ModalWrap
      modal_id="add-database-form"
      title="Новое база"
      btn_title="Сохранить"
      @make="addDatabase" >
      <template v-slot:body >

      <form  class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">

        <!--begin::Row 1-->
        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-1">

          <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required"> Db name</span>
              <span class="ms-1">
                          <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                          <span class="path2"></span><span class="path3"></span></i>
                      </span>
            </label>
            <input v-model="databaseForm.name" type="text" class="form-control form-control-solid" >
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
          </div></div>

        </div>
        <!--end::Row 1-->

      </form>

      </template>
  </ModalWrap>

  <!--- Пользователь --->
  <ModalWrap
      modal_id="add-user-form"
      title="Новый пользователь"
      btn_title="Сохранить"
      @make="addUser" >
     <template v-slot:body >
      <form  class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">

          <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required"> User </span>
              <span class="ms-1">
                          <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                          <span class="path2"></span><span class="path3"></span></i>
                      </span>
            </label>
            <input v-model="userForm.name" type="text" class="form-control form-control-solid" >
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
          </div></div>

          <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required"> Password </span>
              <span class="ms-1">
                            <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                            <span class="path2"></span><span class="path3"></span></i>
                        </span>
            </label>
            <input v-model="userForm.password" type="text" class="form-control form-control-solid" >
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
          </div></div>

        </div>
      </form>
     </template>
  </ModalWrap>

  <!--- Таблица      --->
  <ModalWrap
      modal_id="add-table-form"
      title="Новая таблица"
      btn_title="Сохранить"
      @make="addTable" >
      <template v-slot:body >
        <form  class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
          <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">

            <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
              <label class="fs-6 fw-semibold form-label mt-3">
                <span class="required"> Name </span>
                <span class="ms-1">
                            <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                            <span class="path2"></span><span class="path3"></span></i>
                        </span>
              </label>
              <input v-model="tableForm.name" type="text" class="form-control form-control-solid" >
              <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div></div>

            <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
              <label class="fs-6 fw-semibold form-label mt-3">
                <span class="required"> Id </span>
                <span class="ms-1">
                              <i class="ki-duotone ki-information fs-7"><span class="path1"></span>
                              <span class="path2"></span><span class="path3"></span></i>
                          </span>
              </label>
              <input v-model="tableForm.id" type="text" class="form-control form-control-solid" >
              <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div></div>

          </div>
        </form>
      </template>
  </ModalWrap>

  <!---  Групповое создание таблиц / полей  --->
  <ModalWrap
      modal_id="grpoup-add-table-fields-form"
      title="Групповое создание таблиц / полей"
      btn_title="Сохранить" actions_btn=0  width="50%" >

      <template v-slot:short-text >
          <div style="margin-top: 10px">
             <span style="font-style: italic">База данных: </span>
             <span class="badge badge-light-success">{{storeData.dbname}}</span>
             <span style="font-style: italic"> Таблица: </span>
             <span class="badge badge-light-success">{{storeData.table?.table_name}}</span>
          </div>
      </template>

      <template v-slot:body >

         <div  class="form fv-plugins-bootstrap5 fv-plugins-framework" >
           <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                  <div v-if="addTablesList.length" class="mb-2">
                    <div v-for="(item) in addTablesList">{{item}}</div>
                  </div>

                  <div class="d-flex flex-column mb-8">
                    <label class="fs-6 fw-bold mb-2">
                      <div>Создание таблиц </div>
                    </label>
                    <textarea v-model="addTablesContent" class="form-control form-control-solid" rows="3"
                              placeholder="table_name id_name"></textarea>
                  </div>
                  <div style="display: flex">
                    <a @click="checkAddTablesContent()" href="#" class="btn btn-sm btn-light-primary"
                       style="font-weight:bold;margin-right:4px;"> Проверить </a>
                    <a @click="sendAddTables()" href="#" class="btn btn-sm btn-light-primary"
                       style="font-weight:bold;margin-left: auto;">Создать таблицы
                    </a>
                  </div>
              </div></div>

              <div class="col"><div class="fv-row mb-7 fv-plugins-icon-container">
                  <div v-if="addFieldsList.length" class="mb-2">
                    <div v-for="(item) in addFieldsList">{{item}}</div>
                  </div>

                  <div class="d-flex flex-column mb-8">
                    <label class="fs-6 fw-bold mb-2">
                      <div>Создание полей </div>
                    </label>
                    <textarea v-model="addFieldsContent" class="form-control form-control-solid" rows="3"
                              placeholder="table_name id_name"></textarea>
                  </div>
                  <div style="display: flex">
                    <a @click="checkAddFieldsContent()" href="#" class="btn btn-sm btn-light-primary"
                       style="font-weight:bold;margin-right:4px;"> Проверить поля </a>
                    <a @click="sendAddFields()" href="#" class="btn btn-sm btn-light-primary"
                       style="font-weight:bold;margin-left: auto;">Создать поля
                    </a>
                  </div>
              </div></div>

         </div></div>
    </template>
  </ModalWrap>

  <!------ КНОПКИ МОДАЛЬНЫХ ОКОН --------->
  <div class="card card-xxl-stretch mb-1">
    <div class="card-header1 border-01 pt-01 m-01">
      <div class="card-toolbar" style="padding: 4px; display: flex">

        <a href="#" class="btn btn-sm btn-primary create__item"
           data-bs-toggle="modal" data-bs-target="#add-connect-form" style="">
           Создать подключение
        </a>

        <a href="#" class="btn btn-sm btn-primary create__item"
           data-bs-toggle="modal" data-bs-target="#add-database-form" style="">
           Создать базу
        </a>

        <a href="#" class="btn btn-sm btn-primary create__item"
           data-bs-toggle="modal" data-bs-target="#add-user-form" style="">
          Создать пользователя
        </a>

        <a href="#" class="btn btn-sm btn-primary create__item"
           data-bs-toggle="modal" data-bs-target="#add-table-form" style="">
          Создать таблицу
        </a>

        <a href="#" class="btn btn-sm btn-primary create__item"
           data-bs-toggle="modal" data-bs-target="#grpoup-add-table-fields-form" style="">
           Групповое создание таблиц / полей
        </a>

    </div></div>
  </div>

</template>

<script setup>

import ModalWrap from '@/components/common/ModalWrap.vue';

import { reactive, ref } from "vue";
import useHandlers from '@/composables/useHandlers.js';

const {storeData, createConnect, getConnections, responseMessage, createDatabase,
      setActive, createTable, notify, createUser, saveResponseHandle, addField, getTableFields } = useHandlers();

const addTablesList = ref([])
const addTablesContent = ref(null)

const addFieldsList = ref([])
const addFieldsContent = ref(null)

const connectForm = reactive({
  host: '',
  dbname: '',
  user: '',
  password: '',
  driver: '',
  port: '',
})

const databaseForm = reactive({
  name: '',
})

const userForm = reactive({
  name: '',
  password: 1234,
})

const tableForm = reactive({
  name: '',
  id: 'id',
})

const addConnect = () => {
  const data = connectForm;
  createConnect(data).then((resp) => {
     getConnections()
     responseMessage(resp?.save, 'Подключение успешно создано');
  })
}

const addDatabase = () => {
  createDatabase(databaseForm.name).then(status => {
      databaseForm.name = '';
      responseMessage(status,
          "Новая база создана", "Не удалось создать базу");
  })
}

const addTable = () => {
   createTable(tableForm.name, tableForm.id).then(status => {
       let errMessage = "Не удалось создать таблицу";
       let okMessage  = 'Создана новая таблица';
       saveResponseHandle(status, okMessage, errMessage)
       tableForm.name = '';
       tableForm.id = 'id'
   })
}

const addUser = () => {
  createUser(userForm.name, userForm.password).then(status => {
    let errMessage = "Не удалось создать пользователя";
    let okMessage  = 'Создан новый пользователь';
    saveResponseHandle(status, okMessage, errMessage)
  })
}


const checkAddTablesContent = () => {
   tablesConvert()
}

const sendAddTables = () => {
   tablesConvert();

   for(let i in addTablesList.value) {
      tableForm.name = addTablesList.value[i].name;
      tableForm.id = addTablesList.value[i].id;
      addTable()
   }

   setTimeout(() => {
     addTablesList.value = [];
     addTablesContent.value = ''
   }, 0);
}

const checkAddFieldsContent = () => {
  fieldsConvert()
}

const sendAddFields = () => {

  fieldsConvert();

  if(!storeData.table?.table_name) {
     alert('Ошибка! Не выбрана таблица'); return false;
  }

  const tableName = storeData.table?.table_name;

  for(let i in addFieldsList.value) {

    let item = addFieldsList.value[i];
    if(!item.column_name) continue;

    item['table'] = tableName;
    item.data_type = (item?.data_type) ? item.data_type : 'varchar';
    item['size'] = (item.data_type == 'varchar' || item.data_type == 'VARCHAR') ? '(255)' : null;

    addField(item);
  }

  setTimeout(() => {
    addFieldsList.value = [];
    addFieldsContent.value = '';
    getTableFields(storeData.table?.table_name, storeData.dbname).then((response) => {
       storeData.fields = response;
    })
  }, 0);
}

const tablesConvert = () => {
  addTablesList.value = [];
  const list = addTablesContent.value.split("\n");
  list.map(item => {
      let line = item.split(" ");
      let id = (line[1]) ? line[1] : 'id';
      addTablesList.value.push({ name: line[0], id })
  })
}

const fieldsConvert = () => {
  addFieldsList.value = [];
  const list = addFieldsContent.value.split("\n");
  list.map(item => {
      let line = item.split(" ");
      let column_name = line[0];
      let data_type = (line[1]) ? line[1] : 'varchar';
      addFieldsList.value.push({ column_name, data_type })
  })
}

</script>

<style scoped>
  .create__item {
     font-weight: bold; margin: 3px;
     border-radius: 26px;
  }
</style>
