<template>

  <div class="card" >

    <!-----  ЗАГОЛОВОК ------>
    <div class="card-header pt-0 d-flex" style="min-height: 10px !important;">

      <h5 @click="panelToggle('.database-container')" class="card-title align-items-start flex-column" style="">
          <span class="card-label fw-bolder database-title-box"> Базы данных  </span>
      </h5>

      <div class="card-toolbar" style="margin-left: auto;">

        <a @click="tabElemActive('card-1', $event)"
           class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 tab-box__item"> Card </a>

        <a @click="tabElemActive('card-2', $event)"
           class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 tab-box__item active"> Плитка </a>

        <a @click="tabElemActive('list', $event)"
           class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 tab-box__item">Таблицы</a>

      </div>

    </div>

    <!-----  КОНТЕНТ ------>
    <div class="mt-1 database-container">

      <template v-if="panelShowType == 'card-1'">

        <!---- (карточки DRAG) ---->
        <div class="row-drag-container" ><div class="col-drag-item-box"
               v-for="(item, key) in databaseList" >

               <drag-card class="col-drag-box__card" :name="item.name" >

                   <template v-slot:toolbar >

                     <a @click="dbDelete(item)" href="#"
                        class="btn btn-icon btn-bg-light1 btn-active-color-primary btn-sm"
                        style="position: absolute; top:-2px; right: 0px; width: 25px; height: 26px; border-radius: 50%;">
                        <img src="./../svg/delete-icon-grey.svg" alt="" style="width: 18px; height: 20px; ">
                     </a>

                   </template>

                   <template v-slot:body>
                        <pre>{{item}}</pre>
                   </template>

               </drag-card>

        </div></div>

      </template>
      <template v-else-if="panelShowType == 'card-2'">

          <!---- ПРОСМОТР (карточки) ---->
          <div class="menu-sub menu-sub-lg-down-accordion1 menu-sub-lg-dropdown1 p-0 w-100" style="display: block">
          <div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible">
            <div class="row">

              <!---- левая часть ---->
              <div class="col-lg-8 mb-3 mb-lg-0  py-3 px-3 py-lg-6 px-lg-6">
                <div class="row">
                  <template v-for="(item, key) in databaseList">
                    <div class="col-lg-4 mb-3">
                      <div class="menu-item p-0 m-0" style="border: 1px lightgrey dashed; display: flex;">
                        <a @click.prevent="setDbname(item, key)" href="#" class="menu-link"
                           :class="[item.is_active ? 'card-item-box__active': '']">
                          <div class="d-flex flex-column" style="width: 80% !important; overflow: hidden;">
                            <span class="fs-6 fw-bold text-gray-800">{{ item.name }}</span>
                          </div>

                          <div @click="dbDelete(item)" class="svg-icon svg-icon-3"
                               style="width: 10px; margin-left: auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                                 version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path
                                    d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                    fill="#000000" fill-rule="nonzero"></path>
                                <path
                                    d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                    fill="#000000" opacity="0.3"></path>
                              </g>
                            </svg>
                          </div>
                        </a>
                      </div>
                    </div>
                  </template>
                </div>

                <div class="separator separator-dashed mx-0 mt-4 mb-4"></div>

                <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mx-5"
                     style="margin-left: 0px !important;">

                  <DbUserAttach :dbitem="storeData.dbItem"/>

                </div>

              </div>

              <!---- правая часть ---->
              <div class="menu-more bg-light col-lg-4 py-3 px-3 py-lg-6 px-lg-6 rounded-end mb-5">
                <h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-0 mb-3 ms-0" style="margin-left: 0px !important;">
                  <span class="menu-icon" style="margin-right: 5px"><i class="bi bi-layout-sidebar fs-3"></i></span>
                  <span style="color: grey;" > Таблицы </span>
                </h4>

                <div class="separator separator-dashed mx-0 my-0 mb-2"></div>

                <template v-for="(item) in storeData.tables">
                  <span class="badge badge-lg badge-primary"
                        style="margin: 3px; border-radius: 12px;"> {{ item.table_name }} </span>
                </template>

                <div class="separator separator-dashed mx-0 my-0 mb-5 mt-5"></div>

                <item-toggle title="DB-JSON" selector="db-json-box">
                    <pre>{{ storeData.dbItem }}</pre>
                </item-toggle>

              </div>

            </div>
          </div>
        </div>

      </template>
      <template v-else>

          <!---- ПАНЕЛЬ РЕДАКТИРОВАНИЯ (таблица) ---->
          <div class="table-responsive">
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <thead>
            <tr class="fw-bolder text-muted">

              <th class="w-25px">
                <div class="form-check form-check-sm form-check-custom form-check-solid">
                  <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                         data-kt-check-target=".widget-9-check"/>
                </div>
              </th>

              <th class="min-w-150px">Имя базы</th>
              <th class="min-w-150px">Копировать базу</th>
              <th class="min-w-150px">Статус</th>
              <th class="min-w-100px text-end"> Actions</th>

            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, key) in databaseList">

              <td>
                <div class="form-check form-check-sm form-check-custom form-check-solid">
                  <input class="form-check-input widget-9-check" type="checkbox" value="1"/>
                </div>
              </td>

              <td>
                <div @click.prevent="setDbname(item, key)" class="d-flex align-items-center">
                  <div class="d-flex justify-content-start flex-column">
                    {{ item.name }}
                  </div>
                </div>
              </td>

              <td>
                <div class="d-flex align-items-center">
                  <input v-model="item['copy_name']" type="text"
                         class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="Новое имя"
                         style="width: 100px">
                  <a @click.prevent="dbCopy(item, key)" href="#" class="btn btn-sm btn-light btn-active-light-primary"
                     style="margin-left: 10px"> Copy </a>
                </div>
              </td>

              <td><span class="badge badge-light-success fs-7 fw-bold">
                  <span v-if="item.name == storeData.dbname" class="badge badge-light-success">Active</span>
              </span></td>

              <td class="text-end" style="min-width: 160px;">

                <a @click.prevent="setNewConnect(item)" href="#"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                  <span class="svg-icon svg-icon-3">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                          version="1.1">
                          <path
                              d="M18.6225,9.75 L18.75,9.75 C19.9926407,9.75 21,10.7573593 21,12 C21,13.2426407 19.9926407,14.25 18.75,14.25 L18.6854912,14.249994 C18.4911876,14.250769 18.3158978,14.366855 18.2393549,14.5454486 C18.1556809,14.7351461 18.1942911,14.948087 18.3278301,15.0846699 L18.372535,15.129375 C18.7950334,15.5514036 19.03243,16.1240792 19.03243,16.72125 C19.03243,17.3184208 18.7950334,17.8910964 18.373125,18.312535 C17.9510964,18.7350334 17.3784208,18.97243 16.78125,18.97243 C16.1840792,18.97243 15.6114036,18.7350334 15.1896699,18.3128301 L15.1505513,18.2736469 C15.008087,18.1342911 14.7951461,18.0956809 14.6054486,18.1793549 C14.426855,18.2558978 14.310769,18.4311876 14.31,18.6225 L14.31,18.75 C14.31,19.9926407 13.3026407,21 12.06,21 C10.8173593,21 9.81,19.9926407 9.81,18.75 C9.80552409,18.4999185 9.67898539,18.3229986 9.44717599,18.2361469 C9.26485393,18.1556809 9.05191298,18.1942911 8.91533009,18.3278301 L8.870625,18.372535 C8.44859642,18.7950334 7.87592081,19.03243 7.27875,19.03243 C6.68157919,19.03243 6.10890358,18.7950334 5.68746499,18.373125 C5.26496665,17.9510964 5.02757002,17.3784208 5.02757002,16.78125 C5.02757002,16.1840792 5.26496665,15.6114036 5.68716991,15.1896699 L5.72635306,15.1505513 C5.86570889,15.008087 5.90431906,14.7951461 5.82064513,14.6054486 C5.74410223,14.426855 5.56881236,14.310769 5.3775,14.31 L5.25,14.31 C4.00735931,14.31 3,13.3026407 3,12.06 C3,10.8173593 4.00735931,9.81 5.25,9.81 C5.50008154,9.80552409 5.67700139,9.67898539 5.76385306,9.44717599 C5.84431906,9.26485393 5.80570889,9.05191298 5.67216991,8.91533009 L5.62746499,8.870625 C5.20496665,8.44859642 4.96757002,7.87592081 4.96757002,7.27875 C4.96757002,6.68157919 5.20496665,6.10890358 5.626875,5.68746499 C6.04890358,5.26496665 6.62157919,5.02757002 7.21875,5.02757002 C7.81592081,5.02757002 8.38859642,5.26496665 8.81033009,5.68716991 L8.84944872,5.72635306 C8.99191298,5.86570889 9.20485393,5.90431906 9.38717599,5.82385306 L9.49484664,5.80114977 C9.65041313,5.71688974 9.7492905,5.55401473 9.75,5.3775 L9.75,5.25 C9.75,4.00735931 10.7573593,3 12,3 C13.2426407,3 14.25,4.00735931 14.25,5.25 L14.249994,5.31450877 C14.250769,5.50881236 14.366855,5.68410223 14.552824,5.76385306 C14.7351461,5.84431906 14.948087,5.80570889 15.0846699,5.67216991 L15.129375,5.62746499 C15.5514036,5.20496665 16.1240792,4.96757002 16.72125,4.96757002 C17.3184208,4.96757002 17.8910964,5.20496665 18.312535,5.626875 C18.7350334,6.04890358 18.97243,6.62157919 18.97243,7.21875 C18.97243,7.81592081 18.7350334,8.38859642 18.3128301,8.81033009 L18.2736469,8.84944872 C18.1342911,8.99191298 18.0956809,9.20485393 18.1761469,9.38717599 L18.1988502,9.49484664 C18.2831103,9.65041313 18.4459853,9.7492905 18.6225,9.75 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                          <path
                              d="M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                              fill="#000000"/>
                     </svg>
                  </span>
                </a>

                <a @click.prevent="dbDelete(item, key)" href="#"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                   style="margin-left: 10px">
                  <span class="svg-icon svg-icon-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                         version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0" width="24"
                                                                                               height="24"/>
                        <path
                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                            fill="#000000" fill-rule="nonzero"/>
                        <path
                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                            fill="#000000" opacity="0.3"/>
                      </g>
                    </svg>
                  </span>
                </a>
              </td>

            </tr>

            </tbody>
          </table>
        </div>

      </template>

    </div>

  </div>

</template>

<script setup>

import DbUserAttach from '@/components/db-manager/DbUserAttach.vue';

import {computed, ref} from "vue";

import useHandlers from '@/composables/useHandlers.js';

const {
  storeData, setActive, getTables, deleteDatabase, copyDatabase,
  createConnect, getDatabases, getConnections, notify, responseMessage
} = useHandlers();

import useJquery from '@/composables/useJquery.js';
const {$changeClass, $toggle} = useJquery()

const userAttachPanel = ref(false);
const copyDbName = ref('');
const editStatus = ref(false)
const panelShowType = ref('card-2')

const databaseList = computed(() => {
  return storeData.databases
})

const databaseRender = computed(() => {
  return storeData.databases
})

const setDbname = (item, key) => {
  storeData.dbname = item.name;
  storeData.dbItem = item;
  getTables(item.name);
  for (let i in storeData.databases) {
    storeData.databases[i]['is_active'] = (key == i) ? true : false
  }
}

const dbDelete = (item) => {
  let dbname = item.name;
  deleteDatabase(dbname).then(status => {
    status = (!parseInt(status)) ? true : false;
    responseMessage(status, 'База удалена')
  })
}

const dbCopy = (item) => {
  let dbname = item.name;
  let copyName = item.copy_name;
  copyDatabase(dbname, copyName).then(() => {
    item.copy_name = '';
  })
}

const setNewConnect = (item) => {

  const dbname = item.name;
  if (checkIsConfig(dbname)) {
    notify("Подключение уже существует", 'warn')
    return true;
  }

  let newConnect = {};
  for (let i in storeData.connect) {
    newConnect[i] = storeData.connect[i];
  }

  newConnect['dbname'] = dbname;

  createConnect(newConnect).then((resp) => {
    getConnections();
    responseMessage(resp?.save, 'Подключение успешно создано')
  })
}

const checkIsConfig = (dbName = null) => {
  let connections = storeData.connections;
  let databases = storeData.databases;
  for (let i in connections) {
    let name = connections[i]['dbname'];
    if (dbName && (dbName == name)) return true;
    for (let key in databases) {
      let db = databases[key];
      db['not_config'] = true;
      if (db['name'] == name) {
        db['not_config'] = false;
      }
    }
  }
}

const panelToggle = (selector) => {
  $(selector).toggle()
}

const tabElemActive = (value, event) => {
  panelShowType.value = value;
  let activeClass = 'active';
  $('.tab-box__item').removeClass(activeClass);
  event.target.classList.add(activeClass)
}

// ----- CREATED -----
getDatabases(null, true);

</script>

<style scoped>

.database-container {
  /*display: none;*/
}

.col-drag-item-box {
  min-height: 57px;
  /*border: 1px red solid;*/
}

</style>