<template>
<div style="width:100%" >

   <pre v-if="getDbItem?.datacl" style="width:100%; text-align: center; border: 1px gainsboro dashed" >{{getDbItem.datacl}}</pre>

<!--   <div class="user-attache-panel">-->

<!--    <section style="width: 50%; margin-right: 5px;" >-->
<!--        <h3 class="attach-box-title" >Установить привилегии</h3>-->
<!--        <div v-for="(item) in usersList" >-->
<!--            <div v-if="!attachUsers[item.name]"  type="button"-->
<!--                 @click.prevent="attachUserAction(item.name, 'set')"-->
<!--                 > {{item.name}}</div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section style="width: 50%; margin-left: 5px;">-->
<!--        <h3 class="attach-box-title">Пользователи база: {{getDbItem.name}} </h3>-->
<!--        <div v-for="(name) in attachUsers" >-->
<!--            <div @click.prevent="attachUserAction(name, 'del')" type="button"-->
<!--                 > {{name}} </div>-->
<!--        </div>-->
<!--    </section>-->

<!--  </div>-->

  <div style="display: flex; width: 100%" class="mt-2">

    <div class="card card-flush h-md-100" style="width: 49%; border: 1px gainsboro dashed"><div class="card-body pt-0">

        <div class="fw-bolder text-gray-600 mb-2 mt-2"> Пользователи сервера </div>

        <div class="d-flex flex-column text-gray-600">
          <template v-for="(item) in usersList">
            <div v-if="!attachUsers[item.name]" class="d-flex align-items-center py-1"
                 @click.prevent="attachUserAction(item.name, 'set')" style="cursor: pointer">
                 <span class="bullet bg-primary me-2"></span> {{item.name}}
            </div>
          </template>
        </div>

    </div></div>

    <div class="card card-flush h-md-100" style="margin-left:auto; width: 49%; border: 1px gainsboro dashed" ><div class="card-body pt-0">

      <div class="fw-bolder text-gray-600 mb-2 mt-2"> Пользователи базы: {{getDbItem.name}} </div>

      <div class="d-flex flex-column text-gray-600">
        <template v-for="(name) in attachUsers">
          <div class="d-flex align-items-center py-1"
               @click.prevent="attachUserAction(name, 'del')" style="cursor: pointer">
               <span class="bullet bg-primary me-2"></span> {{name}}
          </div>
        </template>
      </div>

    </div></div>

  </div>

</div>

</template>

<script setup>

import {computed, ref} from "vue";
const props = defineProps(['dbitem']);
const emit = defineEmits(['change', 'delete']);

import useHandlers from '@/composables/useHandlers.js';
const { storeData, userPrivilegesChange, getDatabases, saveResponseHandle } = useHandlers();

const attachUsers = ref({});
const users = ref([]);
const dbItem = ref({})

const getDbItem = computed(() => {
  attacheUsersRender();
  dbItem.value = storeData.dbItem;
  return dbItem.value;
})

const usersList = computed(() => {
  users.value = storeData.users;
  return users.value;
})

const getAttachUsers = computed(() => {
    return attachUsers.value;
})

const attacheUsersRender = () => {
    attachUsers.value = {};
    let datacl = storeData?.dbItem?.datacl
    if(!datacl) return false;
    for(let i in users.value) {
        let user = users.value[i]
        let name = user.usename;
        if(datacl.includes(name)) {
            attachUsers.value[name] = name;
        }
    }
}

const attachUserAction = (username, action = 'set') => {
  let dbname = dbItem.value.name
  let actionName = 'delete_user_privileges';
  let message = 'Права удалены';
  if(action == 'set') {
      actionName = 'set_user_privileges';
      message = 'Права установлены';
  }
  userPrivilegesChange(dbname, username, actionName).then(status => {
      saveResponseHandle(status, message, 'Не удалось установить права')
      getDatabases().then(response => {
         responseUpdate(dbname)
      })
  })
}

const responseUpdate = (dbname) => {
  const list = storeData.databases;
  for(let i in list) {
      let item = list[i];
      if(item.name != dbname) continue;
      item['is_active'] = true;
      storeData.dbItem = item;
      attacheUsersRender();
      break;
  }
}

attacheUsersRender();

</script>

<style scoped>

 .user-attache-panel {
     width: 100% !important;
     display: flex;
     z-index: 99; background: white;
     border: 2px lightsteelblue solid;
     border-radius: 2px;
     padding: 5px;
     box-shadow: rgba(14, 10, 17, 0.12) 0px 2px 4px 0px,
                 rgba(14, 10, 17, 0.32) 0px 2px 10px 0px;
     position: relative;
     margin-left: 0px ;
 }

 .attach-box-title {
    font-size: 14px;
    font-style: italic;
    color:green;
    border-bottom: 1px green solid;
    text-align: center;
    height: 20px;
 }

 .user-attache-panel .inline-block {
    padding: 3px 4px 3px 4px;
 }
</style>
