<template>
<!--<div >-->
<!--     <div class="user-attache-panel">-->

<!--        <section style="width: 50%; margin-right: 5px;">-->
<!--            <div class="box-title" >Установить привилегии</div>-->
<!--            <div class="justify-content-start text-start w-100">-->
<!--                <template v-for="(item) in users" >-->
<!--                    <div v-if="!attachUsers[item.name]"  type="button"-->
<!--                       @click.prevent="attachUserAction(item.name, 'set')"-->
<!--                       :class="userBoxClass" >{{item.name}}</div>-->
<!--                </template>-->
<!--            </div>-->
<!--        </section>-->

<!--        <section style="width: 50%; margin-left: 5px;">-->
<!--            <div class="box-title" style="color:red; border-bottom: 1px red solid;">Удалить привилегии</div>-->
<!--            <div class="justify-content-start text-start w-100">-->
<!--                <template v-for="(name) in attachUsers" >-->
<!--                    <div @click.prevent="attachUserAction(name, 'del')" type="button"-->
<!--                       :class="userBoxClass" >{{name}}</div>-->
<!--                </template>-->
<!--            </div>-->
<!--        </section>-->

<!--    </div>-->
<!--</div>-->

  <div class="row g-5 g-xl-8" >

    <div class="col-xl-6"><div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-5">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1"> Пользователи</span>
            <span class="text-muted mt-1 fw-bold fs-7"></span>
          </h3>
          <div class="card-toolbar">
            <div> База данных:
               <span class="badge badge-light-success fs-7 fw-bolder">{{dbName}}</span>
            </div>
          </div>
        </div>

        <div class="card-body py-3">
          <div class="table-responsive">
            <table class="table align-middle gs-0 gy-3">
              <thead><tr>
                  <th class="p-0 w-50px"></th>
                  <th class="p-0 min-w-150px"></th>
                  <th class="p-0 min-w-140px"></th>
                  <th class="p-0 min-w-120px"></th>
                  <th class="p-0 min-w-40px"></th>
              </tr></thead>

              <tbody>


                  <tempale v-for="(item) in users" >
                      <tr v-if="!attachUsers[item.name]" >
                          <td>
                            <div class="symbol symbol-50px me-2">
                                <span class="symbol-label bg-light-info"><span class="svg-icon svg-icon-2x svg-icon-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                      <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                      <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </svg>
                                </span></span>
                            </div>
                          </td>
                          <td><a @click.prevent="attachUserAction(item.name, 'set')"
                                 href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                 {{item.name}}
                          </a></td>
                          <td class="text-end text-muted fw-bold">Laravel, Metronic</td>
                          <td class="text-end text-muted fw-bold">890 Users</td>
                          <td class="text-end text-dark fw-bolder fs-6 pe-0">1.5MB</td>
                      </tr>
                  </tempale>

              </tbody>

            </table>
          </div>
        </div>

    </div></div>

    <div class="col-xl-6"><div class="card card-xl-stretch mb-xl-8">

      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1"> Пользователи базы</span>
          <span class="text-muted mt-1 fw-bold fs-7"></span>
        </h3>
        <div class="card-toolbar">
          <div>База данных:
            <span class="badge badge-light-success fs-7 fw-bolder">{{dbName}}</span>
          </div>
        </div>
      </div>

      <div class="card-body py-3">
        <div class="table-responsive">
          <table class="table align-middle gs-0 gy-3">
            <thead><tr>
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-150px"></th>
              <th class="p-0 min-w-140px"></th>
              <th class="p-0 min-w-120px"></th>
              <th class="p-0 min-w-40px"></th>
            </tr></thead>

            <tbody>

            <tr v-for="(name) in attachUsers" >
              <td>
                <div class="symbol symbol-50px me-2">
                    <span class="symbol-label bg-light-info"><span class="svg-icon svg-icon-2x svg-icon-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                          <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                        </svg>
                    </span></span>
                </div>
              </td>
              <td><a @click.prevent="attachUserAction(name, 'del')"
                     href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                     {{name}}
              </a></td>
              <td class="text-end text-muted fw-bold">Laravel, Metronic</td>
              <td class="text-end text-muted fw-bold">890 Users</td>
              <td class="text-end text-dark fw-bolder fs-6 pe-0">1.5MB</td>
            </tr>

            </tbody>

          </table>
        </div>
      </div>

    </div></div>

  </div>


</template>

<script setup>

import {computed, ref} from "vue";
const props = defineProps({ dbitem: Object });
const emit = defineEmits(['change', 'delete']);

import useHandlers from '@/composables/useHandlers.js';
const { storeData, userPrivilegesChange, getDatabases, saveResponseHandle } = useHandlers();

// const dbItem = ref(props.dbitem)
// const dbName = ref(props.dbitem.datname)
// const dbDatacl = ref(props.dbitem.datacl)

// const dbName = ref(null)
// const dbDatacl = ref(null)

const attachUsers = ref({});
const userPanelToggle = ref(false)

const users = computed(() => {
  attacheUsersRender();
  return storeData.users;
})

const getAttachUsers = computed(() => {
    return attachUsers.value;
})

const dbItem = computed(() => {
   attacheUsersRender()
   return storeData.dbItem;
})

const dbName = computed(() => {
  if(!storeData.dbItem?.name) {
    for(let i in storeData.databases) {
       if(storeData.databases[i].name == storeData.dbname) {
         storeData.dbItem = storeData.databases[i];
         break;
       }
    }
  }
  return storeData.dbname;
})

const attacheUsersRender = () => {

    let datacl = storeData.dbItem?.datacl;
    if(!datacl) return false;

    for(let i in users.value) {
        let user = users.value[i];
        let name = user.usename;
        if(!datacl.includes(name)) continue;
        attachUsers.value[name] = name;
    }
}

const responseUpdate = (dbname) => {
  for(let i in storeData.databases) {
    if(storeData.databases[i].name == dbname) {
      storeData.databases[i].is_active = true;
      if(storeData.databases[i]?.datacl) {
        dbDatacl.value = storeData.databases[i].datacl
        attachUsers.value = {};
        attacheUsersRender();
      }
    }
  }
}

const attachUserAction = (username, action = 'set') => {
    let dbname = dbName.value;
    action = (action == 'set') ? 'set_user_privileges' : 'delete_user_privileges';
    userPrivilegesChange(dbname, username, action).then(status => {
        let message = (action == 'set') ? 'Права установлены' : 'Права удалены';
        saveResponseHandle(status, message, 'Не удалось установить права')
        getDatabases().then((resp) => {
           responseUpdate(dbname)
        })
    })
}

attacheUsersRender();

</script>

<style scoped>

</style>
