<template>

  <div class="row g-2 g-xl-12">

    <!---- ПОДКЛЮЧЕНИЯ -------->
    <div class="col-3">
<!--      <div class="card card-xl-stretch">-->

<!--        <h4 class="card-title align-items-start flex-column m-3 " style="text-align: center">-->
<!--          <span class="card-label fw-bold text-dark"> Подключения </span>-->
<!--          <span class="text-muted mt-0 fw-semibold fs-7"> </span>-->
<!--        </h4>-->

<!--        <div class="card-body pt-5">-->
<!--          <div v-for="(item, id) in storeData.connections"-->
<!--               class="d-flex align-items-center mb-7">-->
<!--            <span class="bullet bullet-vertical h-30px bg-success me-5"></span>-->
<!--            <div @click="selectConnect(id, item)" class="d-flex flex-column"-->
<!--                 :class="{'connect-item-migrate-active': item.is_active}">-->
<!--              <a href="#" class="text-dark text-hover-primary fs-6 fw-bold">-->
<!--                {{ item.host }} / {{ item.dbname }}-->
<!--              </a>-->
<!--              <span class="text-muted fw-bold">-->
<!--                       {{ item.user }} / {{ item.driver }}-->
<!--              </span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


        <div class="menu menu-sub menu-sub-dropdown p-4 show" style="position: relative;">

            <!--begin::Wrapper-->
            <div >

              <form  class="w-100 position-relative mb-2" autocomplete="off">

                <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 translate-middle-y ms-0">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect x="0" y="0" width="24" height="24"></rect>
                                      <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                      <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                  </svg>
                                </span>

                <input type="text" class="form-control form-control-flush ps-10" name="search" value="" placeholder="Search..." data-kt-search-element="input">

                <span class="position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-1" data-kt-search-element="spinner">
                      <span class="spinner-border h-15px w-15px align-middle text-gray-400"></span>
                </span>

              </form>

              <div class="separator border-gray-200 mb-2"></div>

              <div class="mb-0" >
                <div class="d-flex flex-stack fw-bold mb-2">
                  <span class="text-muted fs-6 me-2"> Подключения: </span>
                </div>
                <!--begin::Items-->
                <template v-for="(item, id) in storeData.connections" >
                  <div  @click="selectConnect(id, item)" class="scroll-y mh-200px mh-lg-325px mb-1"
                        :class="{'connect-item-migrate-active': item.is_active}" >
                    <!--begin::Item-->
                    <div class="d-flex align-items-center mb-2">
                        <div class="symbol symbol-40px me-2">
                            <span class="symbol-label bg-light"><span class="svg-icon svg-icon-2 svg-icon-primary">
                                <img src="@/components/svg/connect-icon.svg" alt="" >
                            </span></span>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bold">
                                {{ item.host }} / {{ item.dbname }}
                            </a>
                            <span class="fs-7 text-muted fw-bold">
                                {{ item.user }} / {{ item.driver }}
                            </span>
                        </div>
                    </div>
                    <!--end::Item-->
                  </div>
                </template>
                <!--end::Items-->
              </div>
            </div>
            <!--end::Wrapper-->

        </div>

<!--      </div>-->
    </div>

    <!---- ТАБЛИЦЫ  ----------->
    <div class="col-3">
      <div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-2">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark"> Таблицы ({{ storeData.tables.length }}) </span>
            <span class="text-muted mt-2 fw-semibold fs-7">
               <a @click.prevent="exportStart()" href="#" class="btn btn-sm btn-light-primary">
                  Выгрузить таблицы </a>
            </span>
          </h3>
        </div>

        <div class="card-body pt-0">

          <small-table
              :headers="{ table_name: 'Имя таблицы' }"
              :items="storeData.tables"/>

        </div>

      </div>
    </div>

    <!---- ПОКАЗ РЕЗУЛЬТАТОВ -->
    <div class="col-3">
      <div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-2">
          <h3 class="card-title align-items-start flex-column">

            <template v-if="resultState == 'export'">
              <span class="card-label fw-bold text-dark"> Результаты (export) </span>
              <span class="text-muted mt-1 fw-semibold fs-7">
                     старт: {{ exportResult?.time?.start }} финал: {{ exportResult?.time?.end }}
                  </span>
            </template>
            <template v-else-if="resultState == 'export'">
              <span class="card-label fw-bold text-dark"> Результаты (import) </span>
              <span class="text-muted mt-1 fw-semibold fs-7">
                     старт: {{ importResult?.time?.start }} финал:{{ importResult?.time?.end }}
                  </span>
            </template>
            <template v-else-if="resultState == 'migrate-item'">
              <span class="card-label fw-bold text-dark">  {{ migrateItemFile }} </span>
              <span class="text-muted mt-1 fw-semibold fs-7">
                     <a v-if="storeData.dbname && migrateItemFile"
                        @click.prevent="importStart()" href="#"
                        class="btn btn-sm btn-light-primary"> Загрузить миграции в базу</a>
                </span>
            </template>

          </h3>
        </div>

        <div class="card-body pt-4">

          <template v-if="resultState == 'export'">

            <small-table title="Данные (кол)"
                         :headers="{ key: 'Имя', count: 'Кол.' }"
                         :items="exportResult.data"/>

            <small-table title="Таблицы"
                         :headers="{ key: 'Имя' }"
                         :items="exportResult.tables"/>

          </template>
          <template v-else-if="resultState == 'import'">

            <small-table title="Данные (кол)"
                         :headers="{ key: 'Имя', count: 'Кол.' }"
                         :items="importResult.data"/>

            <small-table title="Таблицы"
                         :headers="{ key: 'Имя' }"
                         :items="importResult.tables"/>

          </template>
          <template v-else-if="resultState == 'migrate-item'">

            <small-table title="Данные(кол)"
                         :headers="{ name: 'Имя', count: 'Кол.'}"
                         :items="migrateItemFiles.data"/>

            <small-table title="Таблицы"
                         :headers="{ name: 'Имя'}"
                         :items="migrateItemFiles.tables"/>

          </template>

        </div>

      </div>
    </div>

    <!---- ФАЙЛЫ МИГРАЦИЙ ----->
    <div class="col-3">

<!--      <div class="card card-xl-stretch mb-xl-8">-->
<!--        <div class="card-header border-0 pt-0 pb-0"><h4 class="card-title align-items-start flex-column">-->
<!--          <span class="card-label fw-bold text-dark"> Файлы миграции </span>-->
<!--          <span class="text-muted mt-0 fw-semibold fs-3"> </span>-->
<!--        </h4></div>-->

<!--        <div class="card-body pt-5">-->
<!--          <div v-for="(item) in migrateFiles"-->
<!--               class="d-flex align-items-center mb-2">-->
<!--            <span class="bullet bullet-vertical h-20px bg-success me-2"></span>-->
<!--            <div @click="getMigrateItem(item)" class="d-flex flex-column">-->
<!--              <a href="#" class="text-dark text-hover-primary fs-6 fw-bold">-->
<!--                {{ item.name }}-->
<!--              </a>-->
<!--              <span class="text-muted fw-bold"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="menu menu-sub menu-sub-dropdown p-4 show" style="position: relative;">

        <!--begin::Wrapper-->
        <div >

          <form  class="w-100 position-relative mb-2" autocomplete="off">

                <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 translate-middle-y ms-0">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect x="0" y="0" width="24" height="24"></rect>
                                      <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                      <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                  </svg>
                                </span>

            <input type="text" class="form-control form-control-flush ps-10" name="search" value="" placeholder="Search..." data-kt-search-element="input">

            <span class="position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-1" data-kt-search-element="spinner">
                      <span class="spinner-border h-15px w-15px align-middle text-gray-400"></span>
                </span>

          </form>

          <div class="separator border-gray-200 mb-2"></div>

          <div class="mb-0" >

            <div class="d-flex flex-stack fw-bold mb-2">
              <span class="text-muted fs-6 me-2"> Файлы миграций : </span>
            </div>

            <!--begin::Items-->
            <template v-for="(item) in migrateFiles" >
              <div  @click="getMigrateItem(item)" class="scroll-y mh-200px mh-lg-325px mb-1"
                    :class="{'connect-item-migrate-active': item.is_active}" >
                    <!--begin::Item-->
                    <div class="d-flex align-items-center mb-2">
                      <div class="symbol symbol-40px me-2">
                          <span class="symbol-label bg-light"><span class="svg-icon svg-icon-2 svg-icon-primary">
                              <img src="@/components/svg/connect-icon.svg"  >
                          </span></span>
                      </div>
                      <div class="d-flex flex-column">
                         <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bold">{{ item.name }}</a>
                      </div>
                    </div>
                    <!--end::Item-->
              </div>
            </template>
            <!--end::Items-->
          </div>
        </div>
        <!--end::Wrapper-->

      </div>

    </div>

  </div>

</template>

<script setup>

import {ref, reactive, onMounted} from "vue";

import useHandlers from "@/composables/useHandlers";

const {storeData, getTables, setActive, setActiveConnect, query, preloader} = useHandlers();

const exportResult = ref([]);
const importResult = ref([]);
const migrateFiles = ref([]);
const migrateItemFiles = ref([]);
const resultState = ref('');
const migrateItemFile = ref('')

const selectDb = (item, key) => {

  storeData.dbname = item.name;
  getTables(item.name);
  if (item.is_active) {
    item.is_active = false;
    return false;
  }
  setActive(storeData.databases, key);
  clearResult();
}

const selectConnect = (connectId, connect) => {
  setActiveConnect(connectId, connect);
  clearResult();
}

// Экспорт баз данных с текущего сервера
const exportStart = () => {
  resultState.value = 'export';
  preloader(true);
  const url = 'db-migrate/export'
  query(url).then(result => {
    preloader(false);
    exportResult.value = result;
    getMigrateFiles();
  })
}

// Импорт данных на текущий сервер (из файлов)
const importStart = () => {
  resultState.value = 'import';
  preloader(true);
  const url = 'db-migrate/import?migrate_file=' + migrateItemFile.value
  query(url).then(result => {
    preloader(false);
    importResult.value = result;
    getTables(storeData.dbname);
  })
}

const getMigrateItem = (item) => {
  let migrateFile = item.name
  migrateItemFiles.value = [];
  resultState.value = 'migrate-item';
  migrateItemFile.value = migrateFile;
  preloader(true);
  const url = 'db-migrate/get-migrate-item?migrate_file=' + migrateFile;
  query(url).then(result => {

    migrateItemFiles.value = result
    preloader(false);

  })
}

const getMigrateFiles = () => {
  const url = 'db-migrate/get-migrate-files'
  query(url).then(result => {
    migrateFiles.value = result
  })
}

const clearResult = () => {
  exportResult.value = [];
  importResult.value = [];
  resultState.value = '';
}

getMigrateFiles();


</script>

<style scoped>

.connect-item-migrate-active {
  background: #357ebd;
  padding: 3px;
}

.connect-item-migrate-active a,
.connect-item-migrate-active span {
  color: white !important;
}

.panel-container__table-data table td:hover {
  background: #b0bed9;
  cursor: pointer;
  color: black;
}

.result-show-table {
  display: block;
  border-bottom: 1px white solid;
  border-radius: 0px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table th {
  font-weight: bold;
}

</style>

