<template>

    <div class="flex items-center mt-1" >

        <div class="relative w-full flex" >
            <div v-for="(item, fname) in searchFields" style="width: 100px">
                <div style="font-size: 13px; font-style: italic; margin-left: 5px">{{fname}}</div>
                <input @input="searchStart" v-model="searchFields[fname]"  :placeholder="fname" type="text"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-1 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
        </div>

        <button @click="clear" type="submit" style="margin-top: 12px"
                class="p-1 ml-1 text-sm font-medium text-white bg-blue-700 rounded-sm border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        > Очистить </button>

    </div>

</template>

<script>
export default {
    name: "SearchPageData",
    props: ['items', 'fields', 'col'],
    data() {
        return {
            searchFields: {},
            list: [],
        }
    },

    computed: {
        getItems() {
            return this.items;
        },
        getFields() {
            return this.fields;
        },
    },

    created() {
        this.list = this.items
        this.searchFields = this.fields;
    },

    methods: {

        clear() {
            for (let key in this.list) {
                this.list[key]['is_show'] = true;
            }

            for (let key in this.searchFields) {
                this.searchFields[key] = '';
            }

            this.$emit('get_search_data', this.list)
        },

        searchStart() {

            const searchList = this.searchFields;

            for (let key in this.list) {
                this.list[key]['is_show'] = true;
            }

            for (let key in this.list) {
                let item = this.list[key];
                for (let name in searchList) {
                    let searchValue = searchList[name];
                    if (!searchValue) continue;
                    let value = item[name];
                    let state = value.includes(searchValue) ? true : false;
                    item.is_show = state;
                }
            }

            this.$emit('get_search_data', this.list)
        }
    }
}
</script>

<style scoped>

</style>
