<template>
<div class="small-table-container">

  <div v-if="getTitle" class="small-table__title">
    {{getTitle}}
  </div>

  <table class="table" >

    <thead><tr>
        <th v-for="(title, name) in getHeaders"> {{title}} </th>
    </tr></thead>

    <template v-if="getHeaders['key']" >

      <tr v-for="(item, key) in itemsList" >
        <template v-for="(title, name) in getHeaders">
          <td v-if="name == 'key'" >{{key}}</td>
          <td v-else-if="item[name]" >{{item[name]}}</td>
        </template>
      </tr>

    </template>
    <template v-else >

      <tr v-for="(item, key) in itemsList" >
        <template v-for="(title, name) in getHeaders">
          <td v-if="item[name]" >{{item[name]}}</td>
        </template>
      </tr>

    </template>

  </table>

</div>
</template>

<script setup>

import {computed} from "vue";

const props = defineProps(['items', 'title', 'headers'])

const getTitle = computed(() => {
  return props.title
})

const itemsList = computed(() => {
  return props.items
})

const getHeaders = computed(() => {
  return props.headers
})

// const panelToggle = (selector) => {
//   $(selector).toggle();
// }

</script>

<style scoped>

.table {
  width: 100%;
}

.table th{
  font-weight: bold;
  text-align: left !important;
}

.small-table__title {
  font-weight: bold; font-style: italic;
}

</style>