<script setup>

import {computed, reactive, ref} from "vue";

const props = defineProps(['table_name']);

import useHandlers from '@/composables/useHandlers.js';

const {storeData, setActive, getTableFields, dropField, addField, saveResponseHandle} = useHandlers();

const fields = ref({});
const newFields = ref([]);
const tableName = ref(null);

const fieldTypes = reactive([
  {name: 'character varying'},
  {name: 'integer'},
  {name: 'int'},
  {name: 'varchar'},
  {name: 'text'},
  {name: 'serial'},
  {name: 'json'},
  {name: 'xml'},
  {name: 'uuid'},
  {name: 'character'},
  {name: 'timestamp'},
  {name: 'date'},
  {name: 'boolean'},
  {name: 'numeric'},
  {name: 'bigint'},
  {name: 'line'},
  {name: 'point'},
  {name: 'int'},
  {name: 'datetime'},
]);

const fieldsRender = computed(() => {
  return fields.value;
})

const getFields = () => {
  let table  = props.table_name;
  let dbName = storeData.dbname;
  getTableFields(table, dbName).then((response) => {
    fields.value = response;
  })
}

const deleteField = (item) => {
  let table  = props.table_name;
  let fieldName = item.column_name
  dropField(table, fieldName).then(status => {
    let errorMessage = 'Не удалось удалить поле'
    saveResponseHandle(status, 'Поле удалено', errorMessage);
    getFields();
  })
}

const addFieldToForm = () => {
  newFields.value.push({
    table: props.table_name,
    column_name: '',
    data_type: 'varchar'
  })
}

const addFields = () => {

  // const tableName = props.table_name;
  // const dbName = storeData.dbname;

  const fields = Object.assign({}, newFields.value);
  for (let i in fields) {

    let item = fields[i];
    if (!item.column_name) continue;
    if (!item.data_type) item.data_type = 'varchar';

    item['size'] = (item.data_type == 'varchar' || item.data_type == 'VARCHAR')
        ? item['size'] = '(255)' : '';

    addField(item).then(status => {
        let errorMessage = 'Не удалось добавить поле';
        saveResponseHandle(status, 'Поле успешно добавлено', errorMessage);
        getFields()
    })
  }

  newFields.value = [];
}

// ---- Created ---

getFields()

</script>

<template>

  <!--- Добавление новых полей ---->
  <div>

    <div class="mb-2 d-flex">

      <a @click.prevent="addFieldToForm()" href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
        <span class="svg-icon svg-icon-3">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor"/>
                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"/>
            </svg>
        </span>
      </a>


      <a @click.prevent="newFields = []" href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
        <span class="svg-icon svg-icon-3">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z" fill="currentColor"/>
               <path opacity="0.3" d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z" fill="currentColor"/>
            </svg>
        </span>
      </a>

      <a v-if="newFields.length" @click.prevent="addFields()" href="#"
         class="btn btn-sm fw-bolder btn-primary" style="margin-left: auto"> Сохранить </a>

    </div>

    <table v-if="newFields.length" class="table">

      <tr>
        <td style="width: 40%; text-align: center" >Имя</td>
        <td style="width: 50%; text-align: center" >Тип</td>
        <td style="width: 10%; text-align: center" ></td>
      </tr>

      <template v-for="(item) in newFields" ><tr>
          <td >
             <input v-model="item.column_name" type="text" placeholder="name" class="form-control form-control-solid  __f-input"  >
          </td>
          <td>
            <select v-model="item.data_type"
                    class="form-select form-select-sm form-select-solid __f-select">
                    <option v-for="(fType) in fieldTypes" :value="fType.name">{{ fType.name }}</option>
            </select>
          </td>
          <td></td>
      </tr></template>

    </table>
  </div>

  <!--- Список полей ---->
  <div><table class="table">

      <tr>
        <td style="width: 40%; text-align: center">Имя</td>
        <td style="width: 50%; text-align: center" >Тип</td>
        <td style="width: 10%; text-align: center">Del</td>
      </tr>

      <template v-for="(item, key) in fieldsRender"><tr>
            <td>
                <input v-model="item.column_name" type="text" placeholder="name" class="form-control form-control-solid  __f-input"  >
            </td>
            <td>
                <select v-model="item.data_type"
                      class="form-select form-select-sm form-select-solid __f-select">
                      <option v-for="(fType) in fieldTypes" :value="fType.name">{{ fType.name }}</option>
                </select>
            </td>
            <td>
               <a @click.prevent="deleteField(item)" title="Удалить" href="#"
                  class="btn btn-icon btn-bg-light btn-sm __f-delete-icon" >
                  <img src="@/components/svg/delete-icon.svg">
               </a>
            </td>
      </tr></template>

  </table></div>

</template>

<style scoped>

.table td {
  margin: 2px !important;
  padding: 2px !important;
  border: 1px gainsboro solid;
}


.__f-input,
.__f-select,
.__f-delete-icon{
  width: 98% !important;
  height: 30px !important;
  margin: 1px !important;
  padding: 1px  1px 1px 3px!important;
  font-size: 12px !important;
}

</style>
