<template>
  <div v-if="storeData?.tables?.length">

    <div>
       <template v-for="(item) in storeData.tables" >
          <span @click="fetchDataList(item)" class="badge badge-lg badge-primary"
                style="margin: 3px; cursor: pointer"> {{ item.table_name }}</span>
       </template>
    </div>

<!--    <div class="separator separator-dashed mx-0 my-0 mt-2"></div>-->

    <div>
      <h3 class="badge badge-lg badge-success m-3" style="margin-left: 0px !important;"> {{selectTable.table_name}}</h3>

      <table class="table-list table-report-data">
          <thead><tr><th v-for="(value, fname) in items[0]" class="">
                  {{ fname }}
          </th></tr></thead>

          <tbody><tr v-for="(item, key) in items" >
                <td v-for="(value, fname) in item"><a href="#" >{{ value }}</a></td>
          </tr></tbody>
      </table>
    </div>

  </div>
</template>

<script setup>

import {ref} from "vue";

import useHandlers from "@/composables/useHandlers";
const { storeData, freeSqlMake } = useHandlers();

const limit     = ref(100);
const items     = ref([])
const tableName = ref('');
const selectTable = ref([])

const fetchDataList = (table) => {
  console.log(table)
  let name = table.table_name;
  tableName.value   = name;
  selectTable.value = table;

  let limitNum = limit.value;
  let sql = `SELECT * FROM ${name} LIMIT ${limitNum}`;

  freeSqlMake(sql).then(data => {
      items.value = data;
  })
}

// const item = {
// table_name: "messages"
// }
//
// fetchDataList(item);

</script>

<style scoped>
 .table-report-data {
    border: 1px red solid;
    padding: 3px !important;
    width: 100%;
 }

 .table-report-data th {
   color: grey;
   border: 1px gainsboro solid;
   padding: 3px;
 }

 .table-report-data td {
     border: 1px gainsboro solid;
     padding: 3px;
 }

 .table-report-data a {
    /*color: #BBC8FD;*/
 }
</style>