<template>

  <div class="card card-xxl-stretch mb-5 mb-xl-8">

    <!-----  ЗАГОЛОВОК ------>
    <div class="card-header border-0 pt-5">
      <h3 @click="panelToggle('.users-container')" class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1 database-title-box" style="cursor: pointer"> Пользователи </span>
        <span class="text-muted mt-1 fw-bold fs-7"> </span>
      </h3>
      <div class="card-toolbar" ></div>
    </div>

    <!-----  КОНТЕНТ ------>
    <div class="card-body py-3 users-container">
      <div class="separator separator-dashed mx-0 my-0 mb-2"></div>

        <div class="table-responsive">
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <thead><tr class="fw-bolder text-muted">

                  <th class="w-25px">
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" />
                    </div>
                  </th>

                  <th class="min-w-150px">Имя пользователя</th>
                  <th class="min-w-150px">Изменить пароль </th>
                  <th class="min-w-150px"> Инфо </th>
                  <th class="min-w-100px text-end"> Actions </th>

            </tr></thead>

            <tbody>
                <tr v-for="(item, key) in users">
                    <td><div class="form-check form-check-sm form-check-custom form-check-solid">
                          <input class="form-check-input widget-9-check" type="checkbox" value="1" />
                        </div>
                    </td>

                    <td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column">
                          {{item.name}}
                    </div></div></td>

                    <td><div class="d-flex align-items-center">
                          <input v-model="item['new_password']" type="text"
                                 class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="Новый пароль" style="width: 100px" >
                                 <a @click.prevent="changePassword(item, key)"  href="#"
                                    class="btn btn-sm btn-light btn-active-light-primary" style="margin-left: 10px"> Изменить </a>
                        </div>
                    </td>

                    <td>
                       <item-toggle title="USER-JSON" :selector="'user-json-box-' + item.name" >
                          <pre>{{item}}</pre>
                       </item-toggle>
                    </td>

                    <td class="text-end" style="">
                        <a @click.prevent="deleteUser(item, key)" href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" style="margin-left: 10px">
                           <span class="svg-icon svg-icon-3">
                              <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0" width="24" height="24" />
                                  <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                                  <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                                </g>
                              </svg>
                           </span>
                        </a>
                    </td>

                </tr>
            </tbody>
          </table>
        </div>

    </div>

  </div>


</template>

<script setup>

import {computed, ref} from "vue";

   import useHandlers from "@/composables/useHandlers";
   const { storeData, freeSqlMake, query, saveResponseHandle, getUsers } = useHandlers();

   const newPassword = ref('');
   const selectUser = ref({});
   const driver = storeData.connect.driver;

   const users = computed(() => {
       return storeData.users;
   })

   const inputEvent = (event, user) => {
        newPassword.value = event.target.value;
        selectUser.value = user
   }

   const deleteUser = (user) => {
       let name = user.name;
       if(name == 'root' || name == 'postgres') {
          alert('Нельзя удалить админа');
          return false
       }

       let sql = `DROP USER ${name}`;
       freeSqlMake(sql, 'exec').then(resp => {
           let errMessage = `<div>Ошибка при удалении пользователя</div>`
           if(resp?.error) errMessage = errMessage + `<div>${resp.error.message}</div>`;
           saveResponseHandle(resp, 'Пользователь удален', errMessage);
           getUsers()
       })
   }

   const changePassword = (item) => {

       const password = item.new_password;
       const name = item.name;
       let sql = '';

       if(storeData.connect.driver == 'pgsql') {
          sql = `ALTER ROLE ${name} WITH PASSWORD '${password}';`;
       } else {
          sql = `ALTER USER '${name}'@'%' IDENTIFIED BY '${password}';`;
       }

       freeSqlMake(sql, 'exec').then(resp => {
           let errMessage = `<div>Ошибка при изменении пароля пользователя</div>`
           if(resp?.error) errMessage = errMessage + `<div>${resp.error.message}</div>`;
           saveResponseHandle(resp, 'Пароль изменен', errMessage);
       });
   }

   const privilegesAction = (action = 'set', user) => {

       let name = user.name;
       let errMessage = `<div>Ошибка при установке прав пользователя</div>`
       let okMessage = "";
       let sql = "";

       if(action == 'set') {
          okMessage = "Права супер админа установлены";
          sql = (driver == 'mysql') ? `GRANT ALL PRIVILEGES ON *.* TO '${name}'@'%';` :
                                      `ALTER USER ${name} WITH SUPERUSER;`;
       } else {
           okMessage = "Права супер админа удалены";
           sql = (driver == 'mysql') ? `REVOKE ALL PRIVILEGES ON *.* FROM ${name};` : ``;
       }
     
       freeSqlMake(sql, 'exec').then(resp => {
           if(resp?.error) errMessage = errMessage + `<div>${resp.error.message}</div>`;
           saveResponseHandle(resp, okMessage, errMessage);
           getUsers()
       });
   }

   const panelToggle = (selector) => {
       $(selector).toggle()
   }

</script>

<style scoped>


</style>