<template>

  <div class="header align-items-stretch app-page-full-width-header" >
    <div class="container-fluid d-flex align-items-stretch justify-content-between">

      <div class="d-flex align-items-center d-lg-none ms-n3 me-1" >
        <div class="btn btn-icon btn-active-light-primary" >

          <span class="svg-icon svg-icon-2x mt-1">
            <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                <path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#000000" opacity="0.3" />
              </g>
             </svg>
          </span>

        </div>
      </div>

      <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0"><a href="#" class="d-lg-none">
          <img alt="Logo" src="@/assets/media/logos/logo-3.svg" class="h-30px" />
      </a></div>

      <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">

        <!------ ЛЕВАЯ ЧАСТЬ ------->
        <div class="d-flex align-items-stretch" ><div class="header-menu align-items-stretch" >

            <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">

              <div v-for="(item) in menuList" class="menu-item me-lg-1">
                <router-link :to="item.url" class="menu-link py-3" >
                   <span class="menu-title"> {{item.title}}</span>
                </router-link>
              </div>

            </div>

        </div></div>

        <!------ ПРАВАЯ ЧАСТЬ ------->
        <div class="d-flex align-items-stretch flex-shrink-0"><div class="d-flex align-items-stretch flex-shrink-0">

            <!--begin::Search-->
            <div class="d-flex align-items-stretch ms-1 ms-lg-3">
              <div class="d-flex align-items-stretch" >
                <div class="d-flex align-items-center" >
                  <div class="btn btn-icon btn-active-light-primary">
                    <span class="svg-icon svg-icon-1">
                      <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24" />
                          <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                          <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                        </g>
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Search-->

            <!--begin::Activities-->
            <div class="d-flex align-items-center ms-1 ms-lg-3">
              <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px">
                <span class="svg-icon svg-icon-1">
                  <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                      </g>
                  </svg>
                </span>
              </div>
            </div>
            <!--end::Activities-->

            <!--begin::Quick links-->
            <div class="d-flex align-items-center ms-1 ms-lg-3">
              <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" >
                <span class="svg-icon svg-icon-1">
                  <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24" />
                      <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                      <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
              </div>
            </div>

            <!--begin::User-->
            <div class="d-flex align-items-center ms-1 ms-lg-3" >
              <div class="cursor-pointer symbol symbol-30px symbol-md-40px" >
                 <img src="@/assets/media/avatars/150-2.jpg"  />
              </div>
            </div>
            <!--end::User -->

        </div></div>

      </div>
    </div>
  </div>

</template>

<script setup >

import {ref} from "vue";

const menuList = ref([
    { url: '/', title: 'Главная'},
    { url: '/db-manager', title: 'Управление базами'},
    { url: '/db-migrate', title: 'Миграции'},
    { url: '/db-tables-data', title: 'Данные'},
])

</script>

<style scoped>

</style>