<template>

  <div id="kt_aside" class="aside aside-dark aside-hoverable" style="">

    <!--begin::Header-->
    <div class="aside-logo flex-column-auto" id="kt_aside_logo">

      <a href="/"><img alt="Logo" src="@/assets/media/logos/logo-default.svg" class="h-15px logo"/></a>

      <div @click="leftPanelToggle()" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle">

           <span class="svg-icon svg-icon-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg">
               <path opacity="0.3"
                     d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5687 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5687 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z"
                     fill="currentColor"/>
               <path
                   d="M4.06875 17.9688C3.86875 17.9688 3.66874 17.8688 3.46874 17.7688C2.96874 17.4688 2.86875 16.8688 3.16875 16.3688L6.76874 10.9688L3.16875 5.56876C2.86875 5.06876 2.96874 4.46873 3.46874 4.16873C3.96874 3.86873 4.56875 3.96878 4.86875 4.46878L8.86875 10.4688C9.06875 10.7688 9.06875 11.2688 8.86875 11.5688L4.86875 17.5688C4.66875 17.7688 4.36875 17.9688 4.06875 17.9688Z"
                   fill="currentColor"/>
           </svg></span>

      </div>

    </div>
    <!--end::Header -->

    <!--begin::Aside menu-->
    <div class="aside-menu flex-column-fluid">

      <div class="hover-scroll-overlay-y my-2 py-5 py-lg-8 left-side-bar"
           id="kt_aside_menu_wrapper"
           data-kt-scroll="true"
           data-kt-scroll-activate="{default: false, lg: true}"
           data-kt-scroll-height="auto"
           data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
           data-kt-scroll-wrappers="#kt_aside_menu"
           data-kt-scroll-offset="0" style="height: 836px;">

        <!--begin::Menu-->
        <div id="#kt_aside_menu" data-kt-menu="true"
             class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary
                       menu-state-bullet-primary menu-arrow-gray-500">

          <div class="menu-item">
            <div class="menu-content pt-0 pb-2">
              <span class="menu-section text-muted text-uppercase fs-8 ls-1"> Управление базой</span>
            </div>
          </div>

          <!-- Подключения -->
          <div class="menu-item menu-accordion left-connection">
             <span @click.prevent="panelToggle('.left-connection')" class="menu-link">
                  <span class="menu-icon"><i class="bi bi-bar-chart fs-3"></i></span>
                  <span class="menu-title"> Подключения </span>
                  <span class="menu-arrow"></span>
             </span>
            <div class="menu-sub menu-sub-accordion menu-active-bg">
              <div v-for="(item, key) in connectionsList" class="menu-item">
                <router-link class="menu-link"
                             @click.prevent="selectItem('connect', item, key)"
                             :to="'/db-manager/connect/' + key">
                  <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                  <span class="menu-title">{{ item.host }}  ({{ item.dbname }})</span>
                </router-link>
              </div>
            </div>
          </div>

          <!-- Базы данных -->
          <div  class="menu-item menu-accordion left-database">
             <span @click.prevent="panelToggle('.left-database')" class="menu-link">
                  <span class="menu-icon"><i class="bi bi-layers fs-3"></i></span>
                  <span class="menu-title"> Базы данных </span>
                  <span class="menu-arrow"></span>
             </span>
             <div class="menu-sub menu-sub-accordion menu-active-bg">
                <div v-for="(item, key) in databases" class="menu-item">
                  <router-link class="menu-link"
                               @click.prevent="selectItem('database', item, key)"
                               :to="'/db-manager/database/' + item.name">
                    <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                    <span class="menu-title"> {{ item.name }} </span>
                  </router-link>
                </div>
             </div>
          </div>

          <!-- Таблицы -->
          <div  class="menu-item menu-accordion let-table-list">
             <span @click.prevent="panelToggle('.let-table-list')" class="menu-link">
                  <span class="menu-icon"><i class="bi bi-layout-sidebar fs-3"></i></span>
                  <span class="menu-title"> Таблицы </span>
                  <span class="menu-arrow"></span>
             </span>
              <div class="menu-sub menu-sub-accordion menu-active-bg" >
                <div v-for="(item, key) in tablesList" class="menu-item">
                  <router-link class="menu-link"
                               @click.prevent="selectItem('table', item, key)"
                               :to="'/db-manager/table/' + item.table_name">
                    <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                    <span class="menu-title"> {{ item.table_name }} </span>
                  </router-link>
                </div>
              </div>
          </div>

          <!-- Пользователи -->
          <div  class="menu-item menu-accordion left-user-list">
              <span @click.prevent="panelToggle('.left-user-list')" class="menu-link">
                  <span class="menu-icon"><i class="bi bi-people fs-3"></i></span>
                  <span class="menu-title"> Пользователи </span>
                  <span class="menu-arrow"></span>
              </span>
              <div class="menu-sub menu-sub-accordion menu-active-bg">
                <div v-for="(item, key) in usersList" class="menu-item">
                  <a class="menu-link" href="#"
                     @click.prevent="selectItem('user', item, key)">
                    <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                    <span class="menu-title"> {{ item.name }} </span>
                  </a>
                </div>
              </div>
          </div>

        </div>
        <!--end::Menu -->

      </div>

    </div>
    <!--end::Aside menu-->

    <!--begin::Footer-->
    <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
      <a href="/" class="btn btn-custom btn-primary w-100">
        <span class="btn-label"> Footer </span>
        <span class="svg-icon btn-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24"
                                                                                      height="24"/>
                <path
                    d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
                    fill="#000000" opacity="0.3"/>
                <path
                    d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
                    fill="#000000"/>
                <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1"/>
              </g>
            </svg>
        </span>
      </a>
    </div>
    <!--end::Footer -->

  </div>

</template>

<script setup>

import {computed} from "vue";

import useHandlers from '@/composables/useHandlers.js';

const {
  storeData, setActiveConnect, getTables, getTableFields,
  setActive, createDatabase, getConnections, freeSqlMake,
  reloadPage, preloader
} = useHandlers();

const connectionsList = computed(() => {
  return storeData.connections
})

const databases = computed(() => {
  return storeData.databases;
})

const tablesList = computed(() => {
  return storeData.tables;
})

const usersList = computed(() => {
  return storeData.users;
})

const currentConnectId = computed(() => {
   return storeData.connect_id;
})

const selectItem = (type, item, key) => {
  switch (type) {

    case 'connect' :
      setActiveConnect(key, item);
      break;

    case 'database':
      setDbname(item, key);
      break;

    case 'table'   :
      setTable(item, key);
      break;

    case 'user'    :
      break;

  }
}

const setDbname = (item, key) => {
  storeData.dbname = item.name;
  storeData.dbItem = item;
  getTables(item.name);
  storeData.databases.map(db =>
      db['is_active'] = (db.name == item.name) ? true : false
  )
}

const setTable = (item, key) => {
  const dbName = storeData.dbname;
  const tableName = item.table_name;
  storeData.tableName = tableName
  storeData.table = item;
  getTableFields(tableName, dbName).then(response => {
    storeData.fields = response;
  })
  storeData.tables.map(table =>
      table['is_active'] = (table.table_name == item.table_name) ? true : false
  )
}

const panelToggle = (parent) => {
  let selector = parent + ' .menu-active-bg';
  let display = $(selector).css('display');
  if (display == 'none') {
    $(selector).show()
    $(parent).addClass('hover showing')
  } else {
    $(selector).hide()
    $(parent).removeClass('hover showing')
  }
}

const leftPanelToggle = () => {
  // alert('rttt');
  //$('#kt_aside .aside').css({'width': '265px', 'transition': 'width .3s ease'})
  //$('#kt_aside .aside').css({'width': '75px', 'transition': 'width .3s ease'})
  //let width = $('#kt_aside').css('width')
  //$('.aside').css('width', '35px')
}

</script>

<style scoped>

.menu-active-bg {
   overflow: hidden !important;
}

.left-side-bar .menu-active-bg .menu-item a {
  border-bottom: 1px white solid !important;
  margin: 2px 2px 2px 30px !important;
  padding: 3px !important;
}

.left-side-bar .menu-active-bg .menu-title {
  font-size: 13px;
  color: gainsboro;
  /*border-bottom: 1px white solid !important;*/
}

.left-side-bar .menu-active-bg .menu-bullet {
  display: none;
}

</style>