.border-rounded {
    border-radius: 5px;
}

.border-rounded-15 {
    border-radius: 15px;
}

.border-rounded-25 {
    border-radius: 25px;
}

.menu-title {
    font-weight: bold;
}

.card-item-box__active {
    background: #b0bed9;
}

.card-item-box__active .fw-bold {
    color: white !important;
}

.app-page-full-width {
    padding-left: 0px !important;
}

.app-page-full-width-header {
    left: 0px !important;
}

/********************* */
/*  DRAG-AND-DROP CARD */

.row-drag-container {
    display: flex; flex-wrap: wrap;
    /*border: 1px blue solid;*/
}

.col-drag-item-box {
    width: 25%;
    /*padding: 4px 4px 4px 4px;*/
    min-height: 87px;
    /*border: 1px red solid;*/
}

.col-drag-box__card {
    width: 23.4%; padding: 4px;
    border: 2px gainsboro dotted;
    border-radius: 8px;
}

/*!* Экран меньше 1600 пикселей *!*/
/*@media (max-width: 1600px) {*/
/*    .col-drag-item-box {*/
/*        !*border: 3px blue solid;*!*/
/*        width: 20%;*/
/*    }*/

/*    .col-drag-box__card {*/
/*        width: 19%;*/
/*    }*/
/*}*/

/* Экран БОЛЬШЕ 1600 пикселей */
@media (min-width: 1350px) {
    .col-drag-item-box {
        /*border: 3px blue solid;*/
        width: 20%;
    }

    .col-drag-box__card {
        width: 19%;
    }
}

/* Экран меньше 1350 пикселей */
@media (max-width: 1350px) {
    .col-drag-item-box {
        width: 25%;
        /*border: 1px red solid;*/
    }

    .col-drag-box__card {
        width: 23.8%;
    }
}

/* Экран меньше 1000 пикселей */
@media (max-width: 1000px) {
    .col-drag-item-box {
        /*border: 3px green solid;*/
        width: 33.3%;
    }

    .col-drag-box__card {
        width: 31.5%;
    }
}

/* Экран меньше 600 пикселей */
@media (max-width: 600px) {
    .col-drag-item-box {
        /*border: 3px yellow solid;*/
        width: 49.9%;
    }

    .col-drag-box__card {
        width: 46%;
    }
}

/*  DRAG-AND-DROP CARD */
/**********************/