<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

<!--        <link rel="stylesheet" href="https://unpkg.com/98.css">-->
<!--        <link rel="stylesheet" href="https://unpkg.com/7.css">-->

    <script>
        // const API_PATH = '/db-manager/api';
        const SERVER_HOST = 'http://my-web-service';
        const API_PATH = SERVER_HOST + '/db-manager/api';
        const API_URL = API_PATH + '/index.php';
    </script>

</head>

<body class="app">

<div id="app" class="flex-2"></div>

<script src="<%= BASE_URL %>assets/plugins/global/plugins.bundle.js"></script>
<script src="<%= BASE_URL %>assets/js/scripts.bundle.js"></script>

<script src="<%= BASE_URL %>assets/js/custom/widgets.js"></script>
<script src="<%= BASE_URL %>assets/js/custom/apps/chat/chat.js"></script>
<script src="<%= BASE_URL %>assets/js/custom/modals/create-app.js"></script>
<script src="<%= BASE_URL %>assets/js/custom/modals/upgrade-plan.js"></script>

</body>
</html>
