<template>

  <!--- TOOLBAR --->
  <div class="toolbar app-page-full-width-header-1" >
    <div class="container-fluid d-flex flex-stack">

      <div class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"> Migrate
          <span class="h-20px border-gray-200 border-start ms-3 mx-2"> </span>

          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.host }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.user }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.driver }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-dark">{{ storeData?.dbname }}</li>
            <template v-if="storeData?.table?.table_name">
              <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
              <li class="breadcrumb-item text-dark">{{ storeData?.table?.table_name }}</li>
            </template>
          </ul>

        </h1>
      </div>

      <div class="d-flex align-items-center py-1">

<!--        <a @click="selectTabPanel('.manager-panel-table', $event)" href="#"-->
<!--           class="btn btn-sm btn-primary me-4 t3-panel"> Таблицы </a>-->

<!--        <a @click="selectTabPanel('.manager-panel-table-data', $event)" href="#"-->
<!--           class="btn btn-sm btn-primary me-4 t3-panel"> Данные </a>-->

<!--        <a @click="selectTabPanel('.manager-panel-connection', $event)" href="#"-->
<!--           class="btn btn-sm btn-primary me-4 t1-panel"> Подключения </a>-->

<!--        <a @click="selectTabPanel('.manager-panel-database', $event)" href="#"-->
<!--           class="btn btn-sm btn-primary me-4 t2-panel"> Базы данных </a>-->

<!--        <a @click="selectTabPanel('.manager-panel-user', $event)" href="#"-->
<!--           class="btn btn-sm btn-primary me-4 t3-panel"> Пользователи </a>-->

      </div>

    </div>
  </div>
  <!--- TOOLBAR --->

  <!--- CONTENT --->
  <div class="post d-flex flex-column-fluid">
    <div class="container-fluid">
      <div class="row gy-5 gx-xl-8">
        <div class="col-lg-12">

        <MigratePanel />

  </div></div></div></div>

</template>

<script setup>

import MigratePanel from '@/components/db-manager/MigratePanel.vue';
import useHandlers from '@/composables/useHandlers.js';
const {storeData, getConnections} = useHandlers();
getConnections();

</script>

<style scoped>

</style>