<template>

  <div v-if="storeData?.connect.host"
       style="width: 100%; height: 25px; margin-top: 4px; text-align: left; border: 0px red solid;">
    <div v-if="storeData?.connect.driver == 'mysql'" class="text-xs bg-theme-11 text-white cursor-pointer font-medium"
         style="font-size: 16px; height: 100%; padding: 0px 3px 3px 12px; border-radius: 12px">
      {{ storeData?.connect.host }} / {{ storeData?.connect.dbname }} / {{ storeData?.connect.driver }}
      <span v-if="storeData?.dbname"> ({{ storeData.dbname }})</span>
    </div>
    <div v-else class="text-xs bg-theme-7 text-white cursor-pointer font-medium"
         style="font-size: 16px; height: 100%; padding: 0px 3px 3px 12px; border-radius: 12px">
      {{ storeData?.connect.host }} / {{ storeData?.connect.dbname }} / {{ storeData?.connect.driver }}
      <span v-if="storeData?.dbname"> ({{ storeData.dbname }})</span>
    </div>
  </div>

  <div @click="panelToggle('connection-config-container')"
       style="font-style: italic; margin-left: 0px; cursor: pointer; display: flex;">
    <div style="width: 24px; margin-right: 10px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify mx-auto"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
    </div>
    <span>Подключения</span>
  </div>

  <Connection id="connection-config-container"/>

  <div class="absolute1 top-0 left-0 h-full w-full rounded-full bg-indigo-500"
       style="height: 4px; margin: 3px 0px 0px 0px;"></div>

  <div @click="panelToggle('create-objects-panel')"
       style="font-style: italic; margin-left: 0px; cursor: pointer; display: flex;">
    <div style="width: 24px; margin-right: 10px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify mx-auto"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
    </div>
    <span>Создание объектов</span>
  </div>

  <div id="create-objects-panel">
    <!----- СОЗДАНИЕ ОБЪЕКТОВ----->
    <div class="intro-y" style="display: block; margin: 4px 0px 6px 0px;"><div class="flex" style="display: flex">
      <CreateItemPanel />
    </div></div>

    <!----- ПОЛЬЗОВАТЕЛИ ----->
    <div style="display: flex;">
      <div v-for="(item) in storeData.users">
        <div class="py-1 px-2 rounded-full text-xs bg-theme-9 text-white cursor-pointer font-medium"
             style="margin: 2px;"> {{ item.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="absolute1 top-0 left-0 h-full w-full rounded-full bg-indigo-500"
       style="height: 4px; margin: 5px 0px 0px 0px; font-style: italic;"></div>

  <template v-if="getConnectId">

    <div @click="panelToggle('database-component-container')"
         style="font-style: italic; margin-left: 0px; cursor: pointer; display: flex;">
      <div style="width: 24px; margin-right: 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify mx-auto"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
      </div>
      <span>Базы данных</span>
    </div>

    <!----- БАЗЫ ДАННЫХ ----->
    <Database id="database-component-container"/>

    <div class="absolute1 top-0 left-0 h-full w-full rounded-full bg-indigo-500"
         style="height: 4px; margin: 10px 0px 0px;"> </div>

    <!----- ПАНЕЛЬ TAB ДЛЯ КОНТЕНТА ------>
    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start" style="cursor: pointer">
      <a @click="openTabPanel('table')" data-toggle="tab" data-target="#table-tab"
         class="py-4 sm:mr-8 flex items-center active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1.5"
             stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout w-4 h-4 mr-2">
          <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="3" y1="9" x2="21" y2="9"></line>
          <line x1="9" y1="21" x2="9" y2="9"></line>
        </svg>
        Таблицы
      </a>
      <a @click="openTabPanel('table-data')" data-toggle="tab" data-target="#table-data-tab"
         class="py-4 sm:mr-8 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1.5"
             stroke-linecap="round" stroke-linejoin="round" class="feather feather-database w-4 h-4 mr-2">
          <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
          <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
          <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
        </svg>
        Данные
      </a>
      <a @click="openTabPanel('migrate')" data-toggle="tab" data-target="#migrate-tab"
         class="py-4 sm:mr-8 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1.5"
             stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy w-4 h-4 mr-2">
          <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
          <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
        </svg>
        Миграции
      </a>
      <a @click="openTabPanel('user')" data-toggle="tab" data-target="#migrate-tab"
         class="py-4 sm:mr-8 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-user w-4 h-4 mr-2">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        Пользователи
      </a>
      <a @click="openTabPanel('sql')" data-toggle="tab" data-target="#migrate-tab"
         class="py-4 sm:mr-8 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit w-4 h-4 mr-2">
          <circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg>
        Sql
      </a>
    </div>

    <!----- ОСНОВНОЙ КОНТЕНТ ------>
    <div class="intro-y chat grid grid-cols-12 gap-3 mt-2">
      <div class="intro-y col-span-12" style="padding-bottom: 20px">
        <div class="chat__box box" style="height: 120%;">
          <div class="h-full flex flex-col">

            <!---- header ----->
            <div class="flex flex-col sm:flex-row border-b border-gray-200 px-2 py-2">

              <a @click="reloadPage" class="w-5 h-5 text-gray-500 cursor-pointer" style="padding-top: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="green" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-refresh-ccw w-4 h-4 mr-3">
                  <polyline points="1 4 1 10 7 10"></polyline>
                  <polyline points="23 20 23 14 17 14"></polyline>
                  <path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path>
                </svg>
              </a>

              <div style="margin-left: 20px">
                <div v-if="storeData?.connect.host"
                     style="width: 100%; height: 25px; margin-top: 4px; text-align: left; border: 0px red solid;">
                  <div v-if="storeData?.connect.driver == 'mysql'"
                       class="text-xs bg-theme-11 text-white cursor-pointer font-medium"
                       style="font-size: 16px; height: 100%; padding: 0px 3px 3px 12px; border-radius: 12px">
                    {{ storeData?.connect.host }} / {{ storeData?.connect.dbname }} / {{ storeData?.connect.driver }}
                    <span v-if="storeData?.dbname"> ({{ storeData.dbname }})</span>
                  </div>
                  <div v-else class="text-xs bg-theme-7 text-white cursor-pointer font-medium"
                       style="font-size: 16px; height: 100%; padding: 0px 3px 3px 12px; border-radius: 12px">
                    {{ storeData?.connect.host }} / {{ storeData?.connect.dbname }} / {{ storeData?.connect.driver }}
                    <span v-if="storeData?.dbname"> ({{ storeData.dbname }})</span>
                  </div>
                </div>
              </div>

              <div
                  class="flex items-center sm:ml-auto mt-5 sm:mt-0 border-t sm:border-0 border-gray-200 pt-3 sm:pt-0 -mx-5 sm:mx-0 px-5 sm:px-0">
                <a class="w-5 h-5 text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                       stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                       class="feather feather-search w-5 h-5">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                </a>
              </div>

            </div>

            <template v-if="tabPanel == 'migrate'">
              <MigratePanel /> <!--  Миграции  -->
            </template>
            <template v-else-if="tabPanel == 'table-data'">
              <TableData  style="padding: 6px"/> <!--  Данные  -->
            </template>
            <template v-else-if="tabPanel == 'user'">
              <Users />  <!--  Пользователи  -->
            </template>
            <template v-else-if="tabPanel == 'sql'">

              <div class="" style="padding: 5px">
                <label class="flex flex-col sm:flex-row"> Sql <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600">Required, at least 10 characters</span> </label>
                <textarea v-model="freeSql" class="input w-full border mt-2" name="comment" placeholder="Sql" minlength="10" required=""></textarea>
              </div>

              <div  class="" style="display: flex; padding: 0px 0px 0px 4px">
                <button @click="freeSqlRun('query')" type="submit" class="button bg-theme-1 text-white mt-5" style="width: 20%">Query</button>
                <button @click="freeSqlRun('exec')" type="submit" class="button bg-theme-1 text-white mt-5" style="width: 20%; margin-left: 20px">Exec</button>
              </div>

              <pre style="padding: 5px" >{{resultFreeSql}}</pre>

            </template>
            <template v-else>
              <DbTable />  <!--  Таблицы  -->
            </template>

          </div>
        </div>
      </div>
    </div>

  </template> <!--- v-if="getConnectId" --->

</template>

<script setup>

import Connection from '@/components/db-manager/Connection.vue';
import Database from '@/components/db-manager/Database.vue';
import CreateItemPanel from '@/components/db-manager/CreateItemPanel.vue';

import DbTable from '@/components/db-manager/DbTable.vue';
import TableData from '@/components/db-manager/TableData.vue';
import MigratePanel from '@/components/db-manager/MigratePanel.vue';
import Users from '@/components/db-manager/Users.vue';

import {computed, ref, onMounted } from "vue";
import useHandlers from '@/composables/useHandlers.js';
const {storeData, setActive, createDatabase, getConnections, freeSqlMake, reloadPage, preloader} = useHandlers();

const tabPanel = ref('tables');
const resultFreeSql = ref({});
const freeSql = ref('');

const getConnectId = computed(() => {
  return storeData.connect_id;
})

const openTabPanel = (name) => {
  tabPanel.value = name;
}

const reloadConnections = () => {
  preloader(true)
  getConnections().then(() => {
    reloadPage();
    preloader(false)
  })
}

const freeSqlRun = (type = 'query') => {
  freeSqlMake(freeSql.value, type).then(response => {
    resultFreeSql.value = response;
  });
}

const panelToggle = (id) => {
  id = '#' + id
  $(id).toggle()
}

reloadConnections();

onMounted(() => {
  panelToggle('connection-config-container');
  panelToggle('create-objects-panel');
  panelToggle('database-component-container');
})


</script>

<style scoped>


</style>
