<template>

  <!--- TOOLBAR --->
  <div class="toolbar app-page-full-width-header">
    <div class="container-fluid d-flex flex-stack">

      <div class="page-title d-flex align-items-center me-3 flex-wrap mb-1 mb-lg-0 lh-1">
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"> Db-manager
          <span class="h-20px border-gray-200 border-start ms-3 mx-2"> </span>

          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.host }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.user }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.driver }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-dark">{{ storeData?.dbname }}</li>
            <template v-if="storeData?.table?.table_name">
              <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
              <li class="breadcrumb-item text-dark">{{ storeData?.table?.table_name }}</li>
            </template>
          </ul>

        </h1>
      </div>

      <div class="d-flex align-items-center py-1">

        <a @click="selectTabPanel('.manager-panel-table', $event)" href="#"
           class="btn btn-sm btn-primary me-4 t3-panel"> Таблицы </a>

        <a @click="selectTabPanel('.manager-panel-table-data', $event)" href="#"
           class="btn btn-sm btn-light me-4 t3-panel"> Данные </a>

        <a @click="selectTabPanel('.manager-panel-connection', $event)" href="#"
           class="btn btn-sm btn-light me-4 t3-panel"> Подключения </a>

        <a @click="selectTabPanel('.manager-panel-database', $event)" href="#"
           class="btn btn-sm btn-light me-4 t3-panel"> Базы данных </a>

        <a @click="selectTabPanel('.manager-panel-user', $event)" href="#"
           class="btn btn-sm btn-light me-4 t3-panel"> Пользователи </a>

      </div>

    </div>
  </div>
  <!--- TOOLBAR --->

  <!--- CONTENT --->
  <div class="post d-flex flex-column-fluid" style="margin-top:-20px">
    <div class="container-fluid" style="padding: 0 12px">
      <div class="row gy-1 gx-xl-8">

        <div class="col-12" style="">
          <CreateItemPanel/>
        </div>

        <div class="col-12 manager-panel-container manager-panel-table" style="display: block !important;">
          <DbTable/>
        </div>

        <div class="col-12 col-sm-12 manager-panel-container manager-panel-database">
          <Database/>
        </div>

        <div class="col-12 col-sm-12 manager-panel-container manager-panel-connection">
          <Connection/>
        </div>

        <div class="col-12 manager-panel-container manager-panel-table-data">
          <div class="card card-xxl-stretch mb-5 mb-xl-8">
            <div class="card-header border-0 pt-5">
              <h3 @click="panelToggle('.table-data-container')" class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder fs-3 mb-1" style="cursor: pointer"> Данные </span>
                <span class="text-muted mt-1 fw-bold fs-7"> </span>
              </h3>
              <div class="card-toolbar"></div>
            </div>

            <div class="card-body py-3 table-data-container">
              <div class="separator separator-dashed mx-0 my-0 mb-2"></div>
              <TableData/>
            </div>
          </div>
        </div>

        <div class="col-12 manager-panel-container manager-panel-user">
          <Users/>
        </div>

      </div>
    </div>
  </div>
  <!--- CONTENT --->

</template>

<script setup>

import CreateItemPanel from '@/components/db-manager/CreateItemPanel.vue';

import Connection from '@/components/db-manager/Connection.vue';
import Database from '@/components/db-manager/Database.vue';
import DbTable from '@/components/db-manager/DbTable.vue';

import TableData from '@/components/db-manager/TableData.vue';
import MigratePanel from '@/components/db-manager/MigratePanel.vue';
import Users from '@/components/db-manager/Users.vue';
import DbUserAttachPanel from '@/components/db-manager/DbUserAttachPanel.vue';

import {computed, ref, onMounted} from "vue";

import useHandlers from '@/composables/useHandlers.js';

const {
  storeData, setActiveConnect, setActive, createDatabase, getConnections,
  freeSqlMake, reloadPage, preloader
} = useHandlers();

import useJquery from '@/composables/useJquery.js';

const {$changeClass} = useJquery();

const selectTabPanel = (id, event) => {
  $('.manager-panel-container').hide();
  $('.t3-panel').removeClass('btn-primary');
  $('.t3-panel').addClass('btn-light');
  event.target.classList.add('btn-primary');
  $(event).addClass('btn-primary');
  panelToggle(id);
}

const panelToggle = (selector) => {
  $(selector).toggle()
}

const btnChangeClass = (event) => {
  let elem = event.target;
  let primary = 'btn-primary';
  let light = 'btn-light';
  let removeClass = light;
  let addClass = primary;
  if (elem.classList.contains(primary)) {
    removeClass = primary
    addClass = light;
  }

  elem.classList.remove(removeClass)
  elem.classList.add(addClass)
}

</script>

<style scoped>
.manager-panel-container {
  display: none;
}


</style>
