<template>

  <!--- TOOLBAR --->
  <div class="toolbar app-page-full-width-header" >
    <div class="container-fluid d-flex flex-stack">

      <div class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
        <h3 class="d-flex align-items-center text-dark my-1 fs-4"> Миграции
          <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>

          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.host }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.user }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.driver }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-dark">{{ storeData?.dbname }}</li>
            <template v-if="storeData?.table?.table_name">
              <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
              <li class="breadcrumb-item text-dark">{{ storeData?.table?.table_name }}</li>
            </template>
          </ul>

        </h3>
      </div>

    </div>
  </div>
  <!--- TOOLBAR --->

  <!--- CONTENT --->
  <div class="post d-flex flex-column-fluid" style="margin-top: -15px;"><div class="container-fluid"
       style="margin:0px 4px 4px 4px !important; padding: 0px 4px 4px 4px !important;">

       <MigratePanel />

  </div></div>

</template>

<script setup>

import MigratePanel from '@/components/db-manager/MigratePanel.vue';
import useHandlers from '@/composables/useHandlers.js';
const {storeData, getConnections} = useHandlers();


</script>

<style scoped>

</style>