<template>

  <!--- TOOLBAR --->
  <div class="toolbar app-page-full-width-header" >
    <div class="container-fluid d-flex flex-stack">

      <div class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"> Главная
          <span class="h-20px border-gray-200 border-start ms-3 mx-2"> </span>

          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.host }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.user }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-muted">{{ storeData?.connect?.driver }}</li>
            <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
            <li class="breadcrumb-item text-dark">{{ storeData?.dbname }}</li>
            <template v-if="storeData?.table?.table_name">
              <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
              <li class="breadcrumb-item text-dark">{{ storeData?.table?.table_name }}</li>
            </template>
          </ul>

        </h1>
      </div>

      <div class="d-flex align-items-center py-1"></div>

    </div>
  </div>
  <!--- TOOLBAR --->

  <!--- CONTENT --->
  <div class="post d-flex flex-column-fluid">
    <div class="container-fluid">
      <div class="row gy-5 gx-xl-8">
        <div class="col-lg-12">

          <DbTable />

        </div></div></div></div>

</template>

<script setup>

import DbTable from '@/components/db-manager/DbTable.vue';

import useHandlers from '@/composables/useHandlers.js';
const {storeData, getConnections} = useHandlers();

</script>

<style scoped>

</style>
