<template>

  <notifications
      position="top right" classes="custom-notify-class"
  />

  <div class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
       style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px" >

        <div class="d-flex flex-column flex-root"><div class="page d-flex flex-row flex-column-fluid">

            <LeftSideBar id="left-panel-container"/>

            <div class="wrapper d-flex flex-column flex-row-fluid app-page-full-width" >

                <Header />

                <div class="content d-flex flex-column flex-column-fluid" >
                    <router-view/>
                </div>

                <div class="footer py-4 d-flex flex-lg-column" >
                  <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="text-dark order-2 order-md-1">
                      <span class="text-muted fw-bold me-1">2023©</span>
                      <a href="" target="_blank" class="text-gray-800 text-hover-primary">Metronic</a>
                    </div>
                    <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                      <li class="menu-item"><a href="#" target="_blank" class="menu-link px-2">О приложении</a></li>
                      <li class="menu-item"><a href="#" target="_blank" class="menu-link px-2">Поддержка</a></li>
                    </ul>
                  </div>
                </div>

            </div>

        </div></div>

        <button @click="leftPanelShowAction" id="kt_explore_toggle" style="z-index: 12"
                class="btn btn-sm btn-white btn-active-primary shadow-sm position-fixed px-5 fw-bolder zindex-2 top-50 mt-10 end-0 transform-90 fs-6" title="Explore Metronic" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover">
            <span id="kt_explore_toggle_label">Left panel</span>
        </button>

        <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
            <span class="svg-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24" />
                  <rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1" />
                  <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                </g>
              </svg>
            </span>
        </div>

  </div>


</template>

<script setup>

import LeftSideBar from '@/components/LeftSideBar.vue';
import Header from '@/components/Header.vue';

import {computed, ref} from "vue";
import useHandlers from '@/composables/useHandlers.js';
const { storeData, reloadPage } = useHandlers();

const errorRender = computed(() => {
   return storeData.error
})

const leftPanelShowAction = () => {
   $('#left-panel-container').toggle()
}

reloadPage();

</script>

<style lang="scss">

#left-panel-container {
   display: none;
}

.custom-notify-class {

  margin: 5px 5px 5px 0px;
  padding: 10px;
  font-size: 12px;
  color: #ffffff;

  // default (blue)
  background: #44a4fc;
  border-left: 5px solid #187fe7;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  text-align: center;

  // types (green, amber, red)
  &.success {
    background: #68cd86;
    border-left-color: #42a85f;
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #e54d42;
    border-left-color: #b82e24;
  }

}

</style>
