<template>

  <div class="card card-xxl-stretch mb-5 mb-xl-8">

    <div class="card-header border-0 pt-5">

      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1 connect-title-box" style="cursor: pointer"> Подключения </span>
        <span class="text-muted mt-1 fw-bold fs-7"> </span>
      </h3>

      <div class="card-toolbar" ></div>

    </div>

    <!--begin::Body-->
    <div class="card-body py-3 connection-container" >
      <div class="table-responsive">
        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
          <thead>
              <tr class="fw-bolder text-muted">

                <th class="w-25px">
                  <div class="form-check form-check-sm form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" />
                  </div>
                </th>

                <th class="min-w-150px">Host</th>
                <th class="min-w-150px">DbName</th>
                <th class="min-w-100px">User</th>
                <th class="min-w-100px">Password</th>
                <th class="min-w-15px">Driver</th>
                <th class="min-w-10px" >Status</th>
                <th class="min-w-10px">Port</th>
                <th class="min-w-100px text-end"> Actions </th>

              </tr>
          </thead>
          <tbody>

            <tr v-for="(connect, key) in connectionsList">

              <td><div class="form-check form-check-sm form-check-custom form-check-solid">
                     <input class="form-check-input widget-9-check" type="checkbox" value="1" />
                  </div>
              </td>

              <td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column">
                  <input v-model="connect.host" type="text" class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="" >
                 </div></div>
              </td>

              <td>
                 <input v-model="connect.dbname" type="text" class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="" >
              </td>

              <td>
                <input v-model="connect.user" type="text" class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="" >
              </td>

              <td>
                  <input v-model="connect.password" type="text" class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="" >
              </td>

              <td>
                  <input v-model="connect.driver" type="text" class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="" >
              </td>

              <td>
                <span v-if="storeData?.connect_id == key" class="badge badge-light-success fs-7 fw-bold">Active</span>
                <span v-else class="badge badge-light-primary fs-7 fw-bolder">Unconnect</span>
              </td>

              <td>
                 <input v-model="connect.port" type="text" class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="" >
              </td>

              <td class="text-end" style="min-width: 160px;">
                  <a @click.prevent="connectCheck(key)" href="#" title="Проверить подключение" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                      <span class="svg-icon svg-icon-3">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"/>
                                <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "/>
                            </g>
                        </svg>
                      </span>
                  </a>
                  <a @click.prevent="connectSetActive(connect, key)" title="Установить подключение"  href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                      <span class="svg-icon svg-icon-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
                              <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"/>
                              <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
                          </svg>
                      </span>
                  </a>
                  <a @click.prevent="connectUpdate(connect, key)" title="Сохранить подключение"  href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                      <span class="svg-icon svg-icon-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)" />
                            <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                          </svg>
                      </span>
                  </a>
                  <a @click.prevent="connectDelete(connect, key)" title="Удалить подключение"  href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                      <span class="svg-icon svg-icon-3">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0" width="24" height="24" />
                            <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                            <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                          </g>
                        </svg>
                      </span>
                  </a>
              </td>

            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>

</template>

<script setup>

import ModalWrap from '@/components/common/ModalWrap.vue';

import {computed, onMounted, reactive, ref} from "vue";
import useHandlers from '@/composables/useHandlers.js';

const {
  storeData, store, localStore, setActive, notify, responseMessage,
  getConnections, updateConnect, deleteConnect, checkConnect,
  getDatabases, getUsers, setActiveConnect, notifyMessage
} = useHandlers();

import useJquery from '@/composables/useJquery.js';
const { $jq } = useJquery()

const connectionsList = computed(() => {
  return storeData.connections
})

const editFormOpen = ref(null);
const curConnectId = ref(null);

const itemConnect = computed(() => {
  return storeData.connect;
})

const itemConnectId = computed(() => {
  return storeData.connect_id;
})

const connectSetActive = (connect, id) => {
   setActiveConnect(id, connect);
}

const connectUpdate = (connect, id) => {
  updateConnect(connect, id).then((response) => {
    responseMessage(response?.save)
  })
}

const connectDelete = (connect, id) => {

  const responseHandle = (id) => {
    let index = null;
    if(id != storeData.connect_id) index = storeData.connect_id;
    setActive(storeData.connections, index);
  }

  deleteConnect(id).then((resp) => {
    responseMessage(resp?.save, 'Подключение удалено')
    getConnections().then(() => responseHandle(id) )
  })
}

const connectCheck = (key) => {
  checkConnect(key).then((response) => {
      responseMessage(response['connect-status'],
             'Успешная проверка', 'Проверка прошла неудачно')
  })
}

//----- CREATED ------------------

onMounted(() => {

  $jq('.connect-title-box').on((el) => {
      const elem = document.querySelector('.connection-container');
      const display = elem.style.display;
      elem.style.display = (display == 'none' || display == '') ? 'block' : 'none';
  })

})

getConnections().then((response) => {
   setActive(storeData.connections);
})

</script>

<style scoped>

 .connection-container {
   display: none
 }

</style>