
<script setup>

import TableFields from '@/components/db-manager/TableFields.vue'

import {computed, ref} from "vue";

import useHandlers from '@/composables/useHandlers.js';

const {storeData, setActive, renameTable, getTables, dropTable, copyTable, getTableFields, notify} = useHandlers();

import useJquery from '@/composables/useJquery.js';

const {$toggle, $setActiveClass} = useJquery();

const tableShowType = ref('card-1')

const tablesList = computed(() => {
  return storeData.tables;
})

const selectTable = (item) => {

  storeData.table = item;
  storeData.tableName = item.table_name;

  storeData.tables.map((el) => {
    el.is_active = (el.table_name == item.table_name) ? true : false;
  });

  getTableFields(storeData.tableName, storeData.dbname).then((response) => {
    storeData.fields = response;
  })
}

const deleteTable = (item) => {
  dropTable(item.table_name).then(response => {
    notify('Таблица удалена')
  })
}

const copyTableLocal = (item) => {
  copyTable(item.table_name, item.copy_name).then(response => {
    notify('Таблица скопирована')
  });
}

const changeTableName = (item) => {
  renameTable(item.table_name, item.change_name)
}

const panelToggle = (selector) => {
  $(selector).toggle()
}

const panelFieldsToggle = (selector, event) => {

  let activeClass = 'fields-container__active';
  let display = $(selector).css('display');
  $('.table-item__fields-container').removeClass(activeClass);

  console.log(event.target.parentNode);

  switch (display) {
      case 'none' :
        $(selector).addClass(activeClass);
        break;

      case 'block' :break;
  }

  //
  // $('.table-item__fields-container').removeClass(activeClass);
  // $(selector).addClass(activeClass);
  //
  // let parent = event.target.parent
  //
  // console.log(parent)

  // let display = $(selector).css('display');
  // $('.table-item__fields-container').hide();
  // $('.table-item__fields-container').css('z-index', 20);
  // if(display == 'block') {
  //    $(selector).hide()
  // } else {
  //   $(selector).show()
  //   $(selector).css('z-index', 99);
  // }

}

</script>

<template>

  <div class="card-header border-0 d-flex mb-3">

      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Таблицы</span>
        <span class="text-muted fw-bold fs-7"></span>
      </h3>

      <div class="card-toolbar" data-kt-buttons="true" style="margin-left: auto">
        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1 active" id="kt_charts_widget_2_year_btn">Card</a>
        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1" id="kt_charts_widget_2_month_btn"> Плитка </a>
        <a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4" id="kt_charts_widget_2_week_btn">Таблицы</a>
      </div>

  </div>

  <template v-if="tableShowType == 'list'">


  </template>
  <template v-else-if="tableShowType == 'card-2'">


  </template>
  <template v-else>

    <div class="row" style="border:0px red solid">

      <template  v-for="(item, key) in tablesList" >
        <div class="col-5 col-md-4 col-xl-3" style="min-height: 100px;"><card-drag><template v-slot:content>

          <div class="menu menu-sub menu-sub-dropdown w-250px p-0 show table-item-box" >

            <div @click="panelFieldsToggle('#tab-item__' + item.table_name, $event)"
                 style="display: flex; cursor: pointer" class="p-2">
              <h4 class="fw-bold text-dark mb-2 table-item__header">{{ item.table_name }}</h4>
              <!--  <div style="margin-left: auto" class=""><span class="svg-icon svg-icon-3"></span></div>-->
            </div>

            <div class="separator border-gray-200 mb-2"></div>

            <!--begin::Actions -->
            <div class="d-flex justify-content-end mb-2 p-1" >
              <input  type="text" placeholder="copy_name" style=""
                      class="form-control form-control-sm form-control-solid"  >
              <!--                      <button type="reset" class="btn btn-sm btn-light-primary fw-bolder btn-active-light-primary me-2">-->
              <!--                        Cancel-->
              <!--                      </button>-->
              <a  href="#" class="btn btn-sm fw-bolder btn-primary"> Copy </a>

              <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                 style="margin-left: 20px; width: 70px">
                         <span class="svg-icon svg-icon-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect>
                                  <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                  <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                                </g>
                              </svg>
												 </span>
              </a>
            </div>
            <!--end::Actions -->

            <div :id="'tab-item__' + item.table_name"
                 class="table-item__fields-container mb-0"
                 style="padding: 8px; box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);">
              <!--                        <div class="separator border-gray-200 mb-1"></div>-->
              <TableFields :table_name="item.table_name" />
            </div>

          </div>

        </template></card-drag></div>
      </template>
    </div>

  </template>





<!--      <div class="col-xl-4">-->
<!--        <card-drag ><template v-slot:content >-->

<!--          <div class="card card-xl-stretch mb-xl-8">-->
<!--            <div class="card-body d-flex align-items-center pt-3 pb-0">-->
<!--              <div class="d-flex flex-column flex-grow-1 py-2 py-lg-13 me-2">-->
<!--                <a href="#" class="fw-bolder text-dark fs-4 mb-2 text-hover-primary">Lisa Bold</a>-->
<!--                <span class="fw-bold text-muted fs-5">Marketing &amp; Fanance Manager</span>-->
<!--              </div>-->
<!--              <img src="assets/media/svg/avatars/014-girl-7.svg" alt="" class="align-self-end h-100px">-->
<!--            </div>-->
<!--          </div>-->

<!--        </template></card-drag>-->
<!--      </div>-->

<!--      <div class="col-xl-4">-->
<!--        <card-drag ><template v-slot:content >-->

<!--          <div class="card card-xl-stretch mb-5 mb-xl-8">-->
<!--            <div class="card-body d-flex align-items-center pt-3 pb-0">-->
<!--              <div class="d-flex flex-column flex-grow-1 py-2 py-lg-13 me-2">-->
<!--                <a href="#" class="fw-bolder text-dark fs-4 mb-2 text-hover-primary">Nick Stone</a>-->
<!--                <span class="fw-bold text-muted fs-5">Customer Support Team</span>-->
<!--              </div>-->
<!--              <img src="@/assets/media/svg/avatars/004-boy-1.svg" alt="" class="align-self-end h-100px">-->
<!--            </div>-->
<!--          </div>-->

<!--        </template></card-drag>-->
<!--      </div>-->



  <!--  <div style="border: 1px red solid; display: block">-->

  <!--    <div>gfhfgfgfhfghf</div>-->

  <!--    <div style="border: 1px green solid; display: flex; flex-wrap: wrap">-->

  <!--      &lt;!&ndash; Список таблиц  &ndash;&gt;-->
  <!--            <div v-for="(item, key) in tablesList" style="position: relative !important;">-->

  <!--              <card-drag>-->
  <!--                <div class="menu menu-sub menu-sub-dropdown p-3 w-325px w-md-325px show table-item-box"><div class="pt-1">-->

  <!--                      <h4 class="fw-bold text-dark mb-2">{{ item.table_name }}</h4>-->
  <!--                      <div class="separator border-gray-200 mb-2"></div>-->

  <!--                      &lt;!&ndash;begin::Actions &ndash;&gt;-->
  <!--                      <div class="d-flex justify-content-end mb-2">-->
  <!--                          <button type="reset" class="btn btn-sm btn-light-primary fw-bolder btn-active-light-primary me-2">-->
  <!--                              Cancel-->
  <!--                          </button>-->
  <!--                          <a href="/" class="btn btn-sm fw-bolder btn-primary">Search</a>-->
  <!--                      </div>-->
  <!--                      &lt;!&ndash;end::Actions &ndash;&gt;-->

  <!--                      <div class="row1 mb-3" style="display: none;" >-->
  <!--                          <div class="separator border-gray-200 mb-3"></div>-->
  <!--                          <TableFields :table_name="item.table_name"/>-->
  <!--                      </div>-->

  <!--                </div></div>-->
  <!--              </card-drag>-->

  <!--            </div>-->
  <!--      &lt;!&ndash; ./ Список таблиц  &ndash;&gt;-->

  <!--    </div>-->

  <!--  </div>-->


<!--  <div class="row mt-10" style="top: 420px">-->

<!--    <template v-for="(item, key) in tablesList">-->
<!--      <div class="col-4" style="">-->
<!--            <card-drag >-->
<!--                <template v-slot:content >-->
<!--                  <div class="menu menu-sub menu-sub-dropdown p-3 w-325px w-md-325px show table-item-box">-->
<!--                    <div class="pt-1" style="height: 110px; margin-top: 3px;">-->

<!--                    <h4 class="fw-bold text-dark mb-2">{{ item.table_name }}</h4>-->
<!--                    <div class="separator border-gray-200 mb-2"></div>-->

<!--                    &lt;!&ndash;begin::Actions &ndash;&gt;-->
<!--                    <div class="d-flex justify-content-end mb-2">-->
<!--                      <button type="reset" class="btn btn-sm btn-light-primary fw-bolder btn-active-light-primary me-2">-->
<!--                        Cancel-->
<!--                      </button>-->
<!--                      <a @click.prevent="panelFieldsToggle('#tab-item__' + item.table_name)" href="#"-->
<!--                         class="btn btn-sm fw-bolder btn-primary"> Toggle </a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;end::Actions &ndash;&gt;-->

<!--                    <div :id="'tab-item__' + item.table_name"-->
<!--                         class="table-item__fields-container mb-3">-->
<!--                      <div class="separator border-gray-200 mb-3"></div>-->
<!--                      <TableFields :table_name="item.table_name"/>-->
<!--                    </div>-->

<!--                  </div></div>-->
<!--                </template>-->
<!--            </card-drag>-->

<!--      </div>-->
<!--    </template>-->

<!--  </div>-->


    <div class="card card-xxl-stretch mb-3 mb-xl-8">

      <div class="card-header border-0 pt-0">

        <h3 class="card-title align-items-start flex-column">
          <span @click="panelToggle('.table-items__container')" class="card-label fw-bolder fs-3 mb-1 connect-title-box"
                style="cursor: pointer"> Таблицы </span>
          <span class="text-muted mt-1 fw-bold fs-7"> </span>
        </h3>

        <div class="card-toolbar">

          <div class="form-check form-check-custom form-check-solid" style="margin-right: 30px">
            <input class="form-check-input" type="radio" value="card-1" v-model="tableShowType"/>
            <label class="form-check-label"> Плитка </label>
          </div>

          <div class="form-check form-check-custom form-check-solid" style="margin-right: 30px">
            <input class="form-check-input" type="radio" value="card-2" v-model="tableShowType"/>
            <label class="form-check-label"> Плитка 2 </label>
          </div>

          <div class="form-check form-check-custom form-check-solid">
            <input class="form-check-input" type="radio" value="list" v-model="tableShowType"/>
            <label class="form-check-label"> Таблица </label>


          </div>

        </div>
      </div>

      <div class="card-body py-0 table-items__container">
        <div class="separator separator-dashed mx-0 my-0 mb-2"></div>
        <template v-if="tableShowType == 'list'">
          <!---- LIST ----->
          <div class="row">
            <div class="table-responsive">
              <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                <thead>
                <tr class="fw-bolder text-muted">

                  <th class="w-25px">
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                             data-kt-check-target=".widget-9-check"/>
                    </div>
                  </th>

                  <th class="min-w-150px">Имя таблицы</th>
                  <th class="min-w-200px">Изменить имя таблицы</th>
                  <th class="min-w-200px">Копировать таблицу</th>
                  <th class="min-w-100px">Статус</th>
                  <th class="min-w-10px text-end"> Actions</th>

                </tr>
                </thead>
                <tbody>

                <tr v-for="(item, key) in tablesList">

                  <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                      <input class="form-check-input widget-9-check" type="checkbox" value="1"/>
                    </div>
                  </td>

                  <td><input v-model="item.table_name" disabled type="text"
                             class="form-control form-control-sm form-control-solid mb-0 mb-lg-0"></td>

                  <td>
                    <div style="display: flex">
                      <input v-model="item.change_name" type="text"
                             class="form-control form-control-sm form-control-solid mb-0 mb-lg-0"
                             placeholder="Новое имя" style="width: 60%;">

                      <a @click.prevent="changeTableName(item)" href="#" style="margin-left: 5px; width: 40%;"
                         class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"> Change
                      </a>

                    </div>
                  </td>

                  <td>
                    <div style="display: flex">
                      <input v-model="item.copy_name" type="text"
                             class="form-control form-control-sm form-control-solid mb-0 mb-lg-0"
                             placeholder="Имя копии" style="width: 60%;">

                      <a @click.prevent="copyTableLocal(item)" href="#" style="margin-left: 5px; width: 40%;"
                         class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"> Copy
                      </a>

                    </div>
                  </td>

                  <td><span v-if="storeData?.tableName == item.table_name" class="badge badge-light-success fs-7 fw-bold">Active</span>
                    <span v-else class="badge badge-light-primary fs-7 fw-bolder">Unactive</span></td>

                  <td class="text-end" style="">
                    <a @click="deleteTable(item)" title="Удалить" href="#"
                       class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                          <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                                 version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0"
                                                                                                       width="24"
                                                                                                       height="24"/>
                                <path
                                    d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                    fill="#000000" fill-rule="nonzero"/>
                                <path
                                    d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                    fill="#000000" opacity="0.3"/>
                              </g>
                            </svg>
                          </span>
                    </a>
                  </td>

                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </template>
        <template v-else-if="tableShowType == 'card-2'">
          <!---- CARD 2 ---->
          <div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible">
            <div class="row">

              <div class="col-lg-8 mb-3 mb-lg-0  py-3 px-3 py-lg-6 px-lg-6">
                <div class="row">

                  <template v-for="(item, key) in tablesList">
                    <div class="col-lg-6 mb-3">
                      <div class="menu-item p-0 m-0" style="border: 1px lightgrey dashed; display: flex">
                        <a @click.prevent="selectTable(item, key)" href="#" class="menu-link"
                           :class="[item.is_active ? 'card-item-box__active': '']" style="width: 80% !important;">
                                     <span class="d-flex flex-column">
                                           <span class="fs-6 fw-bold text-gray-800">{{ item.table_name }}</span>
                                     </span>

                          <span @click="deleteTable(item)" class="svg-icon svg-icon-3"
                                style="width: 10px; margin-left: auto">
                                         <img src="@/components/svg/delete-icon.svg"
                                              style="font-size: 9px !important;">
                            <!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
                            <!--                                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect>-->
                            <!--                                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>-->
                            <!--                                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>-->
                            <!--                                      </g>-->
                            <!--                                    </svg>-->
                                     </span>

                        </a>
                      </div>
                    </div>
                  </template>

                </div>

                <div class="separator separator-dashed mx-0 mt-4 mb-4"></div>
                <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mx-5"
                     style="margin-left: 0px !important;">

                  <item-toggle title="TABLE-JSON" selector="table-json-box">
                    <pre>{{ storeData.table }}</pre>
                  </item-toggle>
                  <!--                      <div class="d-flex flex-column me-5">-->
                  <!--                        <div class="fs-6 fw-bold text-gray-800">Landing Page Template</div>-->
                  <!--                        <div class="fs-7 fw-semibold text-muted">Onpe page landing template with pricing</div>-->
                  <!--                      </div>-->
                  <!--                       <a href="#" class="btn btn-sm btn-primary fw-bold">Explore</a>-->
                </div>

              </div>

              <div class="menu-more bg-light col-lg-4 py-3 px-3 py-lg-6 px-lg-6 rounded-end mb-5">
                <h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mb-5" style="text-align: left"> Поля таблицы</h4>
                <TableFields :table_name="storeData.tableName"/>
              </div>

            </div>
          </div>

        </template>
        <template v-else>
          <!---- CARD 1 ---->
          <div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible">
            <div class="row">

              <div class="col-lg-8 mb-3 mb-lg-0  py-3 px-3 py-lg-6 px-lg-6">

                <!---- Список таблиц  ---->
                <div class="row">
                  <div v-for="(item, key) in tablesList" class="col-lg-6 mb-3">

                    <div class="menu menu-sub menu-sub-dropdown p-4 w-325px w-md-375px show"
                         style="z-index: 10; position: relative; margin: 0px; ">

                      <div class="pt-1">

                        <h4 class="fw-bold text-dark mb-2">{{ item.table_name }}</h4>

                        <div class="separator border-gray-200 mb-2"></div>

                        <!--begin::Actions-->
                        <div class="d-flex justify-content-end mb-2">
                          <button type="reset"
                                  class="btn btn-sm btn-light-primary fw-bolder btn-active-light-primary me-2">
                            Cancel
                          </button>
                          <a href="/" class="btn btn-sm fw-bolder btn-primary">
                            Search
                          </a>
                        </div>
                        <!--end::Actions-->

                        <div class="row mb-3" style="display: block;">

                          <div class="separator border-gray-200 mb-3"></div>

                          <TableFields :table_name="item.table_name"/>

                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <!---- ./ Список таблиц --->

                <!---- Поля таблицы json --->
                <div class="separator separator-dashed mx-0 mt-4 mb-4"></div>
                <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mx-5" style="margin-left: 0px !important;">
                  <item-toggle title="TABLE-JSON" selector="table-json-box">
                    <pre>{{ storeData.table }}</pre>
                  </item-toggle>
                </div>

              </div>

              <!---- Поля таблицы для редактирования  ----->
              <div class="menu-more bg-light col-lg-4 py-3 px-3 py-lg-6 px-lg-6 rounded-end mb-5">
                <h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mb-5" style="text-align: left"> Поля таблицы</h4>
                <TableFields :table_name="storeData.tableName"/>
              </div>
              <!---- ./ Поля таблицы для редактирования --->

            </div>
          </div>

        </template>
      </div>

    </div>

</template>

<style scoped>

/*.table-item-box__active {*/
/*  background: #b0bed9;*/
/*}*/

/*.table-item-box__active .fw-bold {*/
/*  color: white !important;*/
/*}*/

/*.menu-link__item {*/
/*  border-radius: 2px;*/
/*  overflow: hidden;*/
/*  padding: 4px !important;*/
/*  display: block !important;*/
/*}*/

/*.menu-link__item svg {*/
/*}*/

/*.item-edit-box {*/
/*  display: none;*/
/*  position: absolute;*/
/*  background: #b0bed9 !important;*/
/*}*/

/*.menu-link__item:hover .item-edit-box {*/
/*  display: flex !important;*/
/*}*/

.table-item-box {
  border: 1px gainsboro solid;
  /*margin-left: -3px;*/
  /*z-index: 10; position: relative; margin: 0px;*/
}

.table-item__fields-container {
   display: none;
   z-index: 20;
   background: white;
}

.fields-container__active {
  display: block;
  z-index: 999 !important;
  /*position: absolute;*/
  background: white;
}

.table-item__header:hover {
   color: #b0bed9 !important;
}

.menu-sub-dropdown {

  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
  /*box-shadow: 0 0 0 2px rgba(218,102,123,1), 8px 8px 0 0 rgba(218,102,123,1);*/
  box-shadow: 6px 6px #989898, 12px 12px #6c6666;

}

</style>