<template>

  <div class="row g-2 g-xl-12">

    <!---- ПОДКЛЮЧЕНИЯ -------->
    <div class="col-3"><div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-0"><h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark"> Подключения </span>
            <span class="text-muted mt-0 fw-semibold fs-7"> </span>
        </h3></div>

        <div class="card-body pt-5">
          <div v-for="(item, id) in storeData.connections"
               class="d-flex align-items-center mb-7">
               <span class="bullet bullet-vertical h-30px bg-success me-5"></span>
               <div @click="selectConnect(id, item)" class="d-flex flex-column"
                    :class="{'connect-item-migrate-active': item.is_active}" >
                    <a href="#" class="text-dark text-hover-primary fs-6 fw-bold">
                      {{ item.host }} / {{ item.dbname }}
                    </a>
                    <span class="text-muted fw-bold">
                       {{ item.user }} / {{ item.driver }}
                    </span>
               </div>
          </div>
        </div>

    </div></div>

    <!---- ТАБЛИЦЫ  ----------->
    <div class="col-3"><div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-2">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark"> Таблицы ({{ storeData.tables.length }}) </span>
            <span class="text-muted mt-2 fw-semibold fs-7">
               <a @click.prevent="exportStart()" href="#" class="btn btn-sm btn-light-primary">
                  Выгрузить таблицы </a>
            </span>
          </h3>
        </div>

        <div class="card-body pt-0">

          <small-table
              :headers="{ table_name: 'Имя таблицы' }"
              :items="storeData.tables" />

        </div>

    </div></div>

    <!---- ПОКАЗ РЕЗУЛЬТАТОВ -->
    <div class="col-3"><div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-2"><h3 class="card-title align-items-start flex-column">

              <template v-if="resultState == 'export'">
                  <span class="card-label fw-bold text-dark"> Результаты (export) </span>
                  <span class="text-muted mt-1 fw-semibold fs-7">
                     старт: {{ exportResult?.time?.start }} финал: {{ exportResult?.time?.end }}
                  </span>
              </template>
              <template v-else-if="resultState == 'export'">
                  <span class="card-label fw-bold text-dark"> Результаты (import) </span>
                  <span class="text-muted mt-1 fw-semibold fs-7">
                     старт: {{ importResult?.time?.start }} финал:{{ importResult?.time?.end }}
                  </span>
              </template>
              <template v-else-if="resultState == 'migrate-item'">
                <span class="card-label fw-bold text-dark">  {{migrateItemFile}} </span>
                <span class="text-muted mt-1 fw-semibold fs-7">
                     <a v-if="storeData.dbname && migrateItemFile"
                        @click.prevent="importStart()" href="#"
                        class="btn btn-sm btn-light-primary" > Загрузить миграции в базу</a>
                </span>
              </template>

        </h3></div>

        <div class="card-body pt-4">

          <template v-if="resultState == 'export'">

            <small-table  title="Данные (кол)"
                  :headers="{ key: 'Имя', count: 'Кол.' }"
                  :items="exportResult.data" />

            <small-table  title="Таблицы"
                  :headers="{ key: 'Имя' }"
                  :items="exportResult.tables" />

          </template>
          <template v-else-if="resultState == 'import'">

            <small-table  title="Данные (кол)"
                          :headers="{ key: 'Имя', count: 'Кол.' }"
                          :items="importResult.data" />

            <small-table  title="Таблицы"
                          :headers="{ key: 'Имя' }"
                          :items="importResult.tables" />

          </template>
          <template v-else-if="resultState == 'migrate-item'">

            <small-table  title="Данные(кол)"
                :headers="{ name: 'Имя', count: 'Кол.'}"
                :items="migrateItemFiles.data" />

            <small-table  title="Таблицы"
               :headers="{ name: 'Имя'}"
               :items="migrateItemFiles.tables" />

          </template>

        </div>

    </div></div>

    <!---- ФАЙЛЫ МИГРАЦИЙ ----->
    <div class="col-3"><div class="card card-xl-stretch mb-xl-8">

        <div class="card-header border-0 pt-0 pb-0"><h4 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark"> Файлы миграции </span>
            <span class="text-muted mt-0 fw-semibold fs-3"> </span>
        </h4></div>

        <div class="card-body pt-5">
          <div v-for="(item) in migrateFiles"
               class="d-flex align-items-center mb-2" >
               <span class="bullet bullet-vertical h-20px bg-success me-2"></span>
               <div @click="getMigrateItem(item)" class="d-flex flex-column">
                    <a href="#" class="text-dark text-hover-primary fs-6 fw-bold">
                      {{ item.name }}
                    </a>
                    <span class="text-muted fw-bold"></span>
               </div>
          </div>
        </div>

    </div></div>

  </div>

</template>

<script setup>

import {ref, reactive, onMounted} from "vue";

import useHandlers from "@/composables/useHandlers";

const {storeData, getTables, setActive, setActiveConnect, query, preloader} = useHandlers();

const exportResult = ref([]);
const importResult = ref([]);
const migrateFiles = ref([]);
const migrateItemFiles = ref([]);
const resultState = ref('');
const migrateItemFile = ref('')

const selectDb = (item, key) => {

  storeData.dbname = item.name;
  getTables(item.name);
  if (item.is_active) {
    item.is_active = false;
    return false;
  }
  setActive(storeData.databases, key);
  clearResult();
}

const selectConnect = (connectId, connect) => {
  setActiveConnect(connectId, connect);
  clearResult();
}

// Экспорт баз данных с текущего сервера
const exportStart = () => {
  resultState.value = 'export';
  preloader(true);
  const url = 'db-migrate/export'
  query(url).then(result => {
    preloader(false);
    exportResult.value = result;
    getMigrateFiles();
  })
}

// Импорт данных на текущий сервер (из файлов)
const importStart = () => {
  resultState.value = 'import';
  preloader(true);
  const url = 'db-migrate/import?migrate_file=' + migrateItemFile.value
  query(url).then(result => {
    preloader(false);
    importResult.value = result;
    getTables(storeData.dbname);
  })
}

const getMigrateItem = (item) => {
  let migrateFile = item.name
  migrateItemFiles.value = [];
  resultState.value = 'migrate-item';
  migrateItemFile.value = migrateFile;
  preloader(true);
  const url = 'db-migrate/get-migrate-item?migrate_file=' + migrateFile;
  query(url).then(result => {

    migrateItemFiles.value = result
    preloader(false);

  })
}

const getMigrateFiles = () => {
  const url = 'db-migrate/get-migrate-files'
  query(url).then(result => {
    migrateFiles.value = result
  })
}

const clearResult = () => {
  exportResult.value = [];
  importResult.value = [];
  resultState.value = '';
}

getMigrateFiles();


</script>

<style scoped>

.connect-item-migrate-active {
  background: #BBC8FD;
  padding: 5px;
}

.connect-item-migrate-active a,
.connect-item-migrate-active span{
  color: white !important;
}

.panel-container__table-data table td:hover {
  background: #b0bed9;
  cursor: pointer;
  color: black;
}

.result-show-table {
  display: block; border-bottom: 1px white solid; border-radius: 0px;
  cursor: pointer;
}

.table {
   width: 100%;
}

.table th{
   font-weight: bold;
}

</style>

