<script setup>

import {computed, reactive, ref} from "vue";

const props = defineProps(['table_name']);

import useHandlers from '@/composables/useHandlers.js';

const {storeData, setActive, getTableFields, dropField, addField, saveResponseHandle} = useHandlers();

const fields = ref({});
const newFields = ref([]);
const tableName = ref(null);

const fieldTypes = reactive([
  {name: 'character varying'},
  {name: 'integer'},
  {name: 'int'},
  {name: 'varchar'},
  {name: 'text'},
  {name: 'serial'},
  {name: 'json'},
  {name: 'xml'},
  {name: 'uuid'},
  {name: 'character'},
  {name: 'timestamp'},
  {name: 'date'},
  {name: 'boolean'},
  {name: 'numeric'},
  {name: 'bigint'},
  {name: 'line'},
  {name: 'point'},
  {name: 'int'},
  {name: 'datetime'},
]);


const fieldsRender = computed(() => {
  return fields.value;
})

getTableFields(props.table_name, storeData.dbname).then((response) => {
  fields.value = response;
})


////////////////////////////

const fieldsList = computed(() => {
  tableName.value = props.table_name;
  return storeData.fields;
})

const addFieldToForm = () => {
  newFields.value.push({
    table: tableName.value,
    column_name: '',
    data_type: 'varchar'
  })
}

const addFields = () => {

  const tableName = storeData.tableName;
  const dbName = storeData.dbname;
  const fields = Object.assign({}, newFields.value);
  for (let i in fields) {
    let item = fields[i];
    if (!item.column_name) continue;
    if (!item.data_type) item.data_type = 'varchar';

    item['size'] = (item.data_type == 'varchar' || item.data_type == 'VARCHAR')
        ? item['size'] = '(255)' : '';

    addField(item).then(status => {
      let errorMessage = 'Не удалось добавить поле';
      saveResponseHandle(status, 'Поле успешно добавлено', errorMessage);
      getFields(tableName, dbName)
    })
  }

  newFields.value = [];
}

const fieldDelete = (fieldName) => {
  const tableName = storeData.tableName;
  const dbName = storeData.dbname;
  dropField(tableName, fieldName).then(status => {
    saveResponseHandle(status,
        'Поле удалено', 'Не удалось удалить поле');
    getFields(tableName, dbName);
  })
}

const getFields = (tableName, dbName) => {
  getTableFields(tableName, dbName).then((response) => {
    storeData.fields = response;
  })
}

</script>

<template>

  <div>
    <table class="table">

      <tr>
        <td style="width: 40%; text-align: center">Имя</td>
        <td style="width: 50%; text-align: center" >Тип</td>
        <td style="width: 10%; text-align: center">Del</td>
      </tr>

      <template v-for="(item, key) in fieldsRender">
        <tr><td style="">
                <input v-model="item.column_name" type="text" placeholder="name"
                   class="form-control form-control-solid  __f-input"  >
            </td>
            <td style="" >

                <select v-model="item.data_type"
                        class="form-select form-select-sm form-select-solid __f-select">
                        <option v-for="(fType) in fieldTypes" :value="fType.name">
                          {{ fType.name }}
                        </option>
                </select>

            </td>
            <td style="" >

               <a @click.prevent="fieldDelete(item.column_name)" title="Удалить" href="#"
                  class="btn btn-icon btn-bg-light btn-sm __f-delete-icon" >
                  <img src="@/components/svg/delete-icon.svg">
               </a>

            </td>
        </tr>
      </template>

    </table>
  </div>


  <!-----
  <div class="row"
       style="border: 1px gainsboro solid; background: white; width: 100%; padding: 3px;">

    <div class="col-5 mb-1">Имя поля</div>
    <div class="col-5">Тип поля</div>
    <div class="col-2"></div>

    <template v-for="(item, key) in fieldsRender">

      <div class="col-5 mb-1">
        <input v-model="item.column_name" type="text" placeholder="name"
               class="form-control form-control-sm1 form-control-solid" style="">
      </div>

      <div class="col-5">
        <select v-model="item.data_type"
                class="form-select form-select-sm form-select-solid">
          <option v-for="(fType) in fieldTypes" :value="fType.name">{{ fType.name }}</option>
        </select>
      </div>

      <div class="col-2">
        <a @click.prevent="fieldDelete(item.column_name)" title="Удалить" href="#"
           class="btn btn-icon btn-bg-light btn-sm _delete-icon" style="">
          <img src="@/components/svg/delete-icon.svg">
        </a>
      </div>

    </template>

  </div>
------>


  <!--  <div v-if="storeData.tableName" class="card-toolbar mb-3" style="display: flex">-->

  <!--    <button @click.prevent="addFieldToForm()" type="button"-->
  <!--            class="btn btn-sm btn-icon btn-light-primary">-->
  <!--              <span class="svg-icon svg-icon-3">-->
  <!--                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
  <!--                    <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>-->
  <!--                    <rect fill="#000000" opacity="0.5"-->
  <!--                          transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "-->
  <!--                          x="4" y="11" width="16" height="2" rx="1"/>-->
  <!--                </svg>-->
  <!--              </span>-->
  <!--    </button>-->

  <!--    <a v-if="newFields.length"-->
  <!--       @click.prevent="addFields()"-->
  <!--       href="#" class="btn btn-sm btn-light-primary" style="margin-left: auto;">-->
  <!--         <span class="svg-icon svg-icon-3">-->
  <!--           <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
  <!--                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
  <!--                    <polygon points="0 0 24 0 24 24 0 24"/>-->
  <!--                    <path-->
  <!--                        d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z"-->
  <!--                        fill="#000000" fill-rule="nonzero"/>-->
  <!--                    <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5"/>-->
  <!--                </g>-->
  <!--            </svg>-->
  <!--         </span> Сохранить-->
  <!--    </a>-->

  <!--  </div>-->
  <!--  -->
  <!--  <template v-if="newFields.length">-->
  <!--    <div class="separator separator-dashed mx-0 my-0 mb-0"></div>-->
  <!--    <div class="table-responsive">-->
  <!--      <table class="table">-->

  <!--        <thead>-->
  <!--        <tr class="fw-bold fs-6 text-gray-800">-->
  <!--          <th>Имя поля</th>-->
  <!--          <th>Тип поля</th>-->
  <!--        </tr>-->
  <!--        </thead>-->

  <!--        <tbody>-->
  <!--        <tr v-for="(item) in newFields">-->
  <!--          <td style="width: 55%;">-->
  <!--            <input v-model="item.column_name" type="text" style=""-->
  <!--                   class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="">-->
  <!--          </td>-->
  <!--          <td style="width: 35%">-->
  <!--            <select v-model="item.data_type" class="form-select form-select-solid" style="padding: 5px">-->
  <!--              <option v-for="(fType) in fieldTypes" :value="fType.name">{{ fType.name }}</option>-->
  <!--            </select>-->
  <!--          </td>-->
  <!--        </tr>-->
  <!--        </tbody>-->

  <!--      </table>-->
  <!--    </div>-->
  <!--  </template>-->

  <!--  <div class="card-toolbar mb-3" style="display: flex">-->

  <!--    <a v-if="newFields.length" @click.prevent="newFields = []"-->
  <!--       href="#" class="btn btn-sm btn-light-primary" style="margin-left: auto;">-->
  <!--      Очистить-->
  <!--    </a>-->

  <!--  </div>-->

  <!--  <div class="separator separator-dashed mx-0 my-0 mb-2"></div>-->

  <!--  <div class="table-responsive">-->
  <!--    <table class="table">-->

  <!--      <thead>-->
  <!--      <tr class="fw-bold fs-6 text-gray-800">-->
  <!--        <th>Имя поля</th>-->
  <!--        <th>Тип поля</th>-->
  <!--        <th>Удалить</th>-->
  <!--      </tr>-->
  <!--      </thead>-->

  <!--      <tbody>-->
  <!--      <tr v-for="(item, key) in fieldsList">-->
  <!--        <td style="width: 55%;">-->
  <!--          <input v-model="item.column_name" type="text"-->
  <!--                 class="form-control form-control-sm form-control-solid mb-0 mb-lg-0" placeholder="Имя поля">-->
  <!--        </td>-->
  <!--        <td style="width: 50% !important;">-->
  <!--          <select v-model="item.data_type" class="form-select form-select-solid" style="padding: 5px">-->
  <!--            <option v-for="(fType) in fieldTypes" :value="fType.name">{{ fType.name }}</option>-->
  <!--          </select>-->
  <!--        </td>-->
  <!--        <td style="text-align: center; width: 20px; padding: 0px !important; margin: 0px !important;">-->
  <!--          <a @click.prevent="fieldDelete(item.column_name)" title="Удалить" href="#"-->
  <!--             class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" style="">-->
  <!--                 <span class="svg-icon svg-icon-3"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"-->
  <!--                                                        viewBox="0 0 24 24" version="1.1">-->
  <!--                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <rect x="0" y="0" width="24"-->
  <!--                                                                                               height="24"/>-->
  <!--                        <path-->
  <!--                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"-->
  <!--                            fill="#000000" fill-rule="nonzero"/>-->
  <!--                        <path-->
  <!--                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"-->
  <!--                            fill="#000000" opacity="0.3"/>-->
  <!--                      </g>-->
  <!--                 </svg></span>-->
  <!--          </a>-->
  <!--        </td>-->
  <!--      </tr>-->
  <!--      </tbody>-->

  <!--    </table>-->
  <!--  </div>-->

</template>

<style scoped>

/*.table th {*/
/*  !*font-weight: bold;*!*/
/*}*/

.table td {
  margin: 2px !important;
  padding: 2px !important;
  border: 1px gainsboro solid;
}

/*input, select {*/
/*  width: 100% !important;*/
/*  height: 35px !important;*/
/*  !*border: 1px gainsboro solid !important;*!*/
/*}*/

/*.form-control {*/
/*  font-size: 13px !important;*/
/*  height: 10px !important;*/
/*}*/

.__f-input,
.__f-select,
.__f-delete-icon{
  width: 98% !important;
  height: 30px !important;
  margin: 1px !important;
  padding: 1px  1px 1px 3px!important;
  font-size: 12px !important;
}


/*.form-select {*/
/*  font-size: 13px !important;*/
/*  height: 33px !important;*/
/*}*/

/*input, select {*/
/*  width: 100% !important;*/
/*  border: 1px gainsboro solid !important;*/
/*}*/

/*td {*/
/*  !*border: 1px lightgrey solid !important;*!*/
/*}*/

/*.row .col-5,*/
/*.row .col-2 {*/
/*   margin: 0px !important;*/
/*   padding: 2px !important;*/
/*}*/

/*input, select, .form-control, ._delete-icon {*/
/*  width: 100% !important;*/
/*  margin: 0px !important;*/
/*  padding: 2px !important;*/
/*  height: 35px !important;*/
/*  font-size: 13px !important;*/
/*  !*border: 1px gainsboro solid !important;*!*/
/*}*/

</style>
