<template>
<div style="margin-left:0px !important;">

  <a @click.prevent="panelToggle('.' + selector)" href="#"
     class="btn btn-sm btn-primary fw-bold"
     style="font-weight:bold; margin-left:0px ;" > {{title}} </a>

  <div :class="'item-toggle-container ' + selector">

    <slot></slot>

  </div>

</div>
</template>

<script setup>

import {computed} from "vue";

const props = defineProps(['selector', 'title'])

const title = computed(() => {
  return props.title
})

const selector = computed(() => {
  return props.selector
})

const panelToggle = (selector) => {
  $(selector).toggle();
}

</script>

<style scoped>
   .item-toggle-container {
      display: none;
   }
</style>