<template>
  <nav class="side-nav" style="width: 270px; padding: 0px; display: block">

    <a href="#" class="intro-x flex items-center pl-5 pt-4">
      <img alt="" class="w-6" src="assets/midone/logo.svg">
      <span class="hidden xl:block text-white text-lg ml-3"> DB <span class="font-medium"> management </span> </span>
    </a>

    <div class="side-nav__devider my-6"></div>

    <ul>
      <li v-for="(item, key) in connectionsRender">
        <a @click.prevent="dbListLoader(key, item)" href="#" class="side-menu"
           :class="{'side-menu--active': item.is_active}"
           style="width: 100%; padding: 0px; display: block; height: 180px">

          <div class="side-menu__title"
               style="width: 100%; padding: 4px; display: block; ">

            <div style="display: flex">
                <div>{{ item.host }} / {{ item.dbname }}</div>
                <div style="margin-left: auto; margin-right: 10px;">
                     <div @click.prevent="changeConnect(item, key)" href="#" class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-1 text-white ml-1 tooltip tooltipstered"
                        style="border: 1px white solid; ">
                       <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit mx-auto">
                           <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                           <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                </div></div>
            </div>

            <div class="connect-form-data">
              <div class="col-span-inp" style="width: 100%">
<!--                <div class="text-xs">Host</div>-->
                <input v-model="item.host" type="text" class="input w-full border mt-2 flex-1" placeholder="Host">
              </div>
            </div>

            <div class="connect-form-data">
              <div class="col-span-inp" style="width: 100%">
                <input v-model="item.dbname" type="text" class="input w-full border mt-2 flex-1" placeholder="Dbname">
              </div>
            </div>

            <div class="connect-form-data">
              <div class="col-span-inp">
                <input v-model="item.user" type="text" class="input w-full border mt-2 flex-1" placeholder="User">
              </div>
              <div class="col-span-inp">
                <input v-model="item.password" type="text" class="input w-full border mt-2" placeholder="Password">
              </div>
            </div>

            <div class="connect-form-data">
              <div class="col-span-inp">
                <input v-model="item.driver" type="text" class="input w-full border mt-2 flex-1" placeholder="Driver">
              </div>
              <div class="col-span-inp">
                <input v-model="item.port" type="text" class="input w-full border mt-2" placeholder="Port">
              </div>
            </div>

          </div>

        </a>
      </li>

    </ul>

  </nav>
</template>

<script setup>

import {computed} from "vue";
import useHandlers from '@/use/useHandlers.js';
const {setActive, getConnections, updateConnect, deleteConnect,
      getDatabases, storeData, store, localStore} = useHandlers();

const connectionsRender = computed(() => {
  return storeData.connections
})

const dbListLoader = (connectId, connect) => {
  storeData.connect_id = connectId;
  storeData.connect = connect;
  storeData.tables = [];
  localStore('X-CONNECT-ID', connectId);
  setActive(storeData.connections, connectId);
  getDatabases(connectId);
}

const changeConnect = (item, key) => {
   updateConnect(item, key)
}

const unsetConnect = (key) => {
  deleteConnect(key)
}

getConnections()

</script>

<style scoped>
.side-menu--active {
  border-radius: 0px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom: 0px white solid;
}

.side-menu--active .connect-form-data {
  border-bottom: 0px white solid;
}

.connect-form-data {
  display: flex;
  margin-right: 10px;
  padding: 4px 0px 4px 0px;
}

.connect-form-data .input {
  padding: 3px;
  margin: 0px;
  color: black;
}

.connect-form-data .text-xs {
  font-style: italic;
  font-size: 10px;
}

</style>