<template>

<!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_1">-->
<!--    Launch demo modal-->
<!--  </button>-->

  <div class="modal fade" tabindex="-1" :id="modal_id"  >
    <div class="modal-dialog" :style="'max-width: '+width+' !important;'" >
      <div class="modal-content" >

         <div class="modal-header">
            <div>
               <h3 class="modal-title">{{title}}</h3>
               <slot name="short-text"></slot>
            </div>
            <!--begin::Close-->
            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>
            <!--end::Close-->
         </div>


         <div class="modal-body">
            <p><slot name="body"></slot></p>
         </div>

         <div v-if="actions" class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"> Отменить </button>
            <button @click="make" type="button" class="btn btn-primary"> {{getBtnTitle}} </button>
         </div>

  </div></div></div>

</template>

<script setup >

import {computed} from "vue";

const props = defineProps({
  modal_id: [String, Number],
  title: String,
  btn_title: String,
  actions_btn: {default: 1,},
  width: '500px',
})

const getBtnTitle = computed(() => {
   return (props?.btn_title)? props.btn_title : 'Выполнить';
})

const actions = computed(() => {
  return parseInt(props.actions_btn);
})

const emit = defineEmits(['make'])

const make = () => {
  const data = { modalId: props.modal_id }
  emit('make', data)
}


</script>

<style scoped>

.modal-header, .modal-body, .modal-footer {
  width: 100% !important;
}
</style>
