<template>

<div v-if="storeData.preloader" class="prelolad-wrapper">

  <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center" style="">

    <svg width="25" viewBox="-2 -2 42 42" style="text-align: center !important;"
      xmlns="http://www.w3.org/2000/svg" stroke="rgb(45, 55, 72)" class="w-8 h-8">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="4">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
          </path>
        </g>
      </g>
    </svg>

    <div class="text-center text-xs mt-2">Подождите,идет выполнение запроса</div>

  </div>

</div>


</template>


<script setup>

import useHttp from '@/api/http.js'
const { storeData } = useHttp();

</script>

<style scoped>
 .prelolad-wrapper {
   /*border: 1px red solid;*/
   width: 100%;
   height: 100%;
   top:0px; left:0px;
   position: fixed; z-index: 444; text-align: center !important;
   padding: 20%;
   opacity: 0.5;
   background: gainsboro;
 }
</style>