<template>

  <div class="top-bar-boxed flex items-center" style="margin: -20px 0px 0px 0px; ">

    <!-- BEGIN: Logo -->
    <a href="" class="-intro-x hidden md:flex">
      <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="assets/midone/logo.svg">
      <span class="text-white text-lg ml-3"> Db <span class="font-medium"> manager  </span> </span>
    </a>
    <!-- END: Logo -->

    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb breadcrumb--light mr-auto"> <a href="" class="">Application</a> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right breadcrumb__icon"><polyline points="9 18 15 12 9 6"></polyline></svg> <a href="" class="breadcrumb--active">Dashboard</a> </div>
    <!-- END: Breadcrumb -->

    <!-- BEGIN: Search -->
    <div class="intro-x relative mr-3 sm:mr-6">
      <div class="search hidden sm:block">
        <input type="text" class="search__input input placeholder-theme-13" placeholder="Search...">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search search__icon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </div>
      <a class="notification notification--light sm:hidden" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search notification__icon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> </a>
      <div class="search-result">
        <div class="search-result__content">
          <div class="search-result__content__title">Pages</div>
          <div class="mb-5">
            <a href="" class="flex items-center">
              <div class="w-8 h-8 bg-theme-18 text-theme-9 flex items-center justify-center rounded-full"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox w-4 h-4"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg> </div>
              <div class="ml-3">Mail Settings</div>
            </a>
            <a href="" class="flex items-center mt-2">
              <div class="w-8 h-8 bg-theme-17 text-theme-11 flex items-center justify-center rounded-full"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users w-4 h-4"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg> </div>
              <div class="ml-3">Users &amp; Permissions</div>
            </a>
            <a href="" class="flex items-center mt-2">
              <div class="w-8 h-8 bg-theme-14 text-theme-10 flex items-center justify-center rounded-full"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card w-4 h-4"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg> </div>
              <div class="ml-3">Transactions Report</div>
            </a>
          </div>
          <div class="search-result__content__title">Users</div>
          <div class="mb-5">
            <a href="" class="flex items-center mt-2">
              <div class="w-8 h-8 image-fit">
                <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-6.jpg">
              </div>
              <div class="ml-3">Morgan Freeman</div>
              <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">morganfreeman@gmail.com</div>
            </a>
            <a href="" class="flex items-center mt-2">
              <div class="w-8 h-8 image-fit">
                <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-4.jpg">
              </div>
              <div class="ml-3">Matt Damon</div>
              <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">mattdamon@gmail.com</div>
            </a>
            <a href="" class="flex items-center mt-2">
              <div class="w-8 h-8 image-fit">
                <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-4.jpg">
              </div>
              <div class="ml-3">Keanu Reeves</div>
              <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">keanureeves@gmail.com</div>
            </a>
            <a href="" class="flex items-center mt-2">
              <div class="w-8 h-8 image-fit">
                <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-13.jpg">
              </div>
              <div class="ml-3">Robert De Niro</div>
              <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">robertdeniro@gmail.com</div>
            </a>
          </div>
          <div class="search-result__content__title">Products</div>
          <a href="" class="flex items-center mt-2">
            <div class="w-8 h-8 image-fit">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/preview-5.jpg">
            </div>
            <div class="ml-3">Apple MacBook Pro 13</div>
            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">PC &amp; Laptop</div>
          </a>
          <a href="" class="flex items-center mt-2">
            <div class="w-8 h-8 image-fit">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/preview-1.jpg">
            </div>
            <div class="ml-3">Apple MacBook Pro 13</div>
            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">PC &amp; Laptop</div>
          </a>
          <a href="" class="flex items-center mt-2">
            <div class="w-8 h-8 image-fit">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/preview-1.jpg">
            </div>
            <div class="ml-3">Sony A7 III</div>
            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Photography</div>
          </a>
          <a href="" class="flex items-center mt-2">
            <div class="w-8 h-8 image-fit">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/preview-5.jpg">
            </div>
            <div class="ml-3">Nikon Z6</div>
            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Photography</div>
          </a>
        </div>
      </div>
    </div>
    <!-- END: Search -->

    <!-- BEGIN: Notifications -->
    <div class="intro-x dropdown relative mr-4 sm:mr-6">
      <div class="dropdown-toggle notification notification--light notification--bullet cursor-pointer"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell notification__icon"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg> </div>
      <div class="notification-content dropdown-box mt-8 absolute top-0 right-0 z-10 -mr-10 sm:mr-0">
        <div class="notification-content__box dropdown-box__content box">
          <div class="notification-content__title">Notifications</div>
          <div class="cursor-pointer relative flex items-center ">
            <div class="w-12 h-12 flex-none image-fit mr-1">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-6.jpg">
              <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
            </div>
            <div class="ml-2 overflow-hidden">
              <div class="flex items-center">
                <a href="javascript:;" class="font-medium truncate mr-5">Morgan Freeman</a>
                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">04:50 AM</div>
              </div>
              <div class="w-full truncate text-gray-600">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
            </div>
          </div>
          <div class="cursor-pointer relative flex items-center mt-5">
            <div class="w-12 h-12 flex-none image-fit mr-1">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-4.jpg">
              <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
            </div>
            <div class="ml-2 overflow-hidden">
              <div class="flex items-center">
                <a href="javascript:;" class="font-medium truncate mr-5">Matt Damon</a>
                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">03:20 PM</div>
              </div>
              <div class="w-full truncate text-gray-600">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
            </div>
          </div>
          <div class="cursor-pointer relative flex items-center mt-5">
            <div class="w-12 h-12 flex-none image-fit mr-1">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-4.jpg">
              <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
            </div>
            <div class="ml-2 overflow-hidden">
              <div class="flex items-center">
                <a href="javascript:;" class="font-medium truncate mr-5">Keanu Reeves</a>
                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">04:50 AM</div>
              </div>
              <div class="w-full truncate text-gray-600">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
            </div>
          </div>
          <div class="cursor-pointer relative flex items-center mt-5">
            <div class="w-12 h-12 flex-none image-fit mr-1">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-13.jpg">
              <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
            </div>
            <div class="ml-2 overflow-hidden">
              <div class="flex items-center">
                <a href="javascript:;" class="font-medium truncate mr-5">Robert De Niro</a>
                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">04:50 AM</div>
              </div>
              <div class="w-full truncate text-gray-600">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
            </div>
          </div>
          <div class="cursor-pointer relative flex items-center mt-5">
            <div class="w-12 h-12 flex-none image-fit mr-1">
              <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="dist/images/profile-1.jpg">
              <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
            </div>
            <div class="ml-2 overflow-hidden">
              <div class="flex items-center">
                <a href="javascript:;" class="font-medium truncate mr-5">Keanu Reeves</a>
                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">01:10 PM</div>
              </div>
              <div class="w-full truncate text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Notifications -->

    <!-- BEGIN: Account Menu -->
    <div class="intro-x dropdown w-8 h-8 relative">
      <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110">
        <img alt="Midone Tailwind HTML Admin Template" src="assets/midone/profile-3.jpg">
      </div>
      <div class="dropdown-box mt-10 absolute w-56 top-0 right-0 z-20">
        <div class="dropdown-box__content box bg-theme-38 text-white">
          <div class="p-4 border-b border-theme-40">
            <div class="font-medium">Morgan Freeman</div>
            <div class="text-xs text-theme-41">Frontend Engineer</div>
          </div>
          <div class="p-2">
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user w-4 h-4 mr-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Profile </a>
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit w-4 h-4 mr-2"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg> Add Account </a>
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock w-4 h-4 mr-2"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg> Reset Password </a>
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle w-4 h-4 mr-2"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg> Help </a>
          </div>
          <div class="p-2 border-t border-theme-40">
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-toggle-right w-4 h-4 mr-2"><rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect><circle cx="16" cy="12" r="3"></circle></svg> Logout </a>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Account Menu -->

  </div>

</template>

<script setup>

import useHandlers from '@/use/useHandlers.js';
const { storeData, setActive} = useHandlers();

</script>